[2012-12-29 16:05] WildcardSearch opened #2 "Alerts not created for edits."
Tecca from TESOF reported that editing a post to add a mention (quick edit or full edit) doesn't alert the user mentioned.

[2012-12-31 22:57] #2 closed, assigned to WildcardSearch

[2013-01-01 14:16] Shade- opened #3 "mention_try_name function unuseful"
[code]

I don't know why you are using this instead of the core `get_user($username)` function. I know you're aiming to retrieve a small amount of data limited to uid, username, usergroup and displaygroup, but `get_user` function tries to get data from cache if possible, saving potential queries and server load.

[2013-01-01 21:13] #3 closed, assigned to WildcardSearch

[2013-02-04 21:52] WildcardSearch opened #4 "MyAlerts Will Soon Change Settings System"
To stay up to date MentionMe will have to change as well.

Luckily @euantor is helping me with the details so this should go pretty smoothly I hope :smile:

This isn't something users will notice, but it has to be done to maintain functionality and compatiblity with MyAlerts.

[2013-02-04 21:56] WildcardSearch opened #5 "Implement Versioning"
Thanks to some practical application of plugin version control using the cache ([Advanced Sidebox](https://github.com/WildcardSearch/Advanced-Sidebox)) I feel that adding the same seamless upgrade module to MentionMe would be beneficial and relatively simple as well.

This should also help to facilitate the update to MyAlerts new settings design ( Issue #4 ) . . .

Will try to get this done soon.

[2013-02-04 21:59] WildcardSearch opened #6 "Fine-Tune Of Plugin Needed"
While reviewing the code in preparation for the next feature release and the improvements to be made I noticed a few things that could be better and a few things that could be implemented to save a little processing power and perhaps a query here and there.

I will try to get this done for the feature release of 1.6 (soon, I hope)

[2013-02-22 17:48] WildcardSearch opened #7 "Quoted Mentions Still Producing Alerts Erratically"
It certainly doesn't always happen but now two board owners have confirmed that from time to time (at least) quoted mentions may produce alerts.

Looking into it but haven't found a problem in the code yet.

[2013-02-23 10:03] Bhbg opened #8 "Installation Problems / Misc Problems"
Hi, great job with the mod and all, but I'm having some serious problem that have been causing me to rip out my hair. -_-

I've gotten the MyAlerts to work properly beforehand and this is without me knowing about mentionme first. I mean as in MyAlerts working properly but since I've updated it to 1.04, I think? The update where it fixes the default avatar images or whatever. I have some minor prob

[2013-03-17 18:11] #4 closed, assigned to WildcardSearch

[2013-03-17 18:12] #5 closed, assigned to WildcardSearch

[2013-03-17 18:12] #6 closed, assigned to WildcardSearch

[2013-03-17 18:13] #8 closed, assigned to WildcardSearch

[2013-03-18 18:40] WildcardSearch opened #9 "Language File Missing Error"
http://community.mybb.com/thread-131448-post-984126.html#pid984126

[2013-03-19 16:06] #9 closed, assigned to WildcardSearch

[2013-03-24 06:24] Bhbg opened #11 "Mention not working / problems"
All in all, the mentions do work but for some members it doesn't seem to be working correctly. I think this may be since one of my mods was changing peoples names. This could include him changing their name since they wanted a space or a special character in their name. Example includes, EternalBlaze renamed to Eternal Blaze.

I think this might have affected how some people are not getting mentio

[2013-03-24 12:48] #11 closed, assigned to nobody

[2013-03-29 00:41] Shade- opened #12 "Installation routine with alerts on by default?"
I've just realized the new version of MentionMe doesn't come with its setting enabled by default. As discussed [here](http://community.mybb.com/thread-127444-post-987832.html#pid987832) it should be quite easy to edit existing functions.

I know @euantor is going to update again the settings system with a reverse logic you've suggested but in the meantime it would be nice to have a working solutio

[2013-03-30 00:18] #12 closed, assigned to WildcardSearch

[2013-03-30 15:36] #7 closed, assigned to WildcardSearch

[2013-04-28 07:13] Bhbg opened #14 "Special characters causing no mentions"
I have a person on the forum with a $ in his name and he doesn't get alerts when he is mentioned. An example being @cat$

His name is cat$ but he doesn't get an alert since he has a special character in his name. I think he gets a mention as "@cat$" but what happens is that when you see the mention in the post this time, it says @cat$ and some other special gibberish letters afterwards.

Any help

[2013-05-25 05:22] prgrmr opened #15 "No subject when mention added during post edit"
Thanks for the great plugin.

I recently installed it and found a bug: When a user edits a post and adds a mention (during the edit), the subject line is blank and the alert does not appear properly.

I traced it to mention_alerts.php, line 61.  $post is a local variable (and is blank.)

To fix this, I just added $post to the global declaration on line 43 and it seems to have fixed it:
    global

[2013-07-05 22:28] #14 closed, assigned to WildcardSearch

[2013-07-05 22:35] #15 closed, assigned to WildcardSearch

[2013-08-03 04:35] meethere opened #16 "Facebook registration and mentionme"
Hi
Issue with Facebook registration plugin MyFacebook Connect - when people register via it, their username is like their real name 'firstname lastname'
so mentionme is not able to take the space while tagging them

Help

[2013-08-08 02:24] #16 closed, assigned to WildcardSearch

[2013-09-20 15:27] WildcardSearch opened #18 "Some Spacing Issues With Mention Replacements"
I already put this branch into use on my forum and immediately noticed that when using un-quoted mentions there is a spacing issue.

[code]

is rendered as

[code]

Haven't found the problem yet, will update.

[2013-09-21 01:47] #18 closed, assigned to WildcardSearch

[2013-09-25 16:36] WildcardSearch opened #19 "Cache needs to be globalized for the entire mention_filter_callback() function"
Cause a WSOD on my forum where I am testing the feature branch. Will fix soon.

[2013-09-25 16:57] #19 closed, assigned to WildcardSearch

[2013-11-07 16:39] Shade- opened #20 "Single quote support"
Should MentionMe have single quote support? http://community.mybb.com/thread-131448-post-1046593.html#pid1046593

@WildcardSearch @'WildcardSearch' @"WildcardSearch" (Woah, better than GitHub! :smile:)

[2013-11-17 08:58] Shade- opened #22 "Even better performances?"
Hi @WildcardSearch,
what's up? While digging into MentionMe - I will install it someday on my board :smile: -  I've found some parts that may be optimized.

Right now you're hooking into parse_message which is fired for every message when building the postbit. This causes your code to be executed X times per thread where X stands for the number of posts.

You're using a static variable to cache us

[2013-12-25 20:29] #20 closed, assigned to WildcardSearch

[2014-01-03 17:54] WildcardSearch opened #24 "Incorrect Data Type For 'isdefault' settinggroup Field"
I'm assigning `'no'` to a field that is integer-- will change to `0`

[2014-01-09 16:52] #24 closed, assigned to WildcardSearch

[2014-01-09 16:53] #22 closed, assigned to WildcardSearch

[2014-01-09 16:55] WildcardSearch opened #26 "Add Optional PM/Email Notification For Mentions"
It has been requested and re-requested so I will try to get this done for 2.3

[2014-01-09 16:57] WildcardSearch opened #27 "Users Receive Alerts For Mentions In Unviewable Forums"
@Shade- reported this eons ago and I haven't had the chance to make the changes as of yet. Will mark this for 2.3

[2014-02-24 02:28] WildcardSearch opened #28 "Email Addresses Broken By Mentions"
If an email address coincidentally contains a valid mention (@ + valid username), a mention will be created, spoiling the email address.

Reported here: http://community.mybb.com/thread-131448-post-1063372.html#pid1063372

Really there is another issue in that email addresses will cause unnecessary searches for user names and could increase queries.

[2014-02-26 17:32] #26 closed, assigned to WildcardSearch

[2014-02-26 17:37] #28 closed, assigned to WildcardSearch

[2014-02-26 17:38] #27 closed, assigned to WildcardSearch

[2014-02-27 13:09] WildcardSearch opened #30 "Postbit Button Needs Its Own Template"
. . . also need  to look at moving some other hard coded HTML in the plugin.

[2014-02-27 13:39] WildcardSearch opened #31 "Need To Upgrade Installer"
When looking at #30 I realized that MentionMe can benefit from the new installer that I use on ASB because it adds templates that can be customized per theme.

[2014-02-27 14:26] #31 closed, assigned to WildcardSearch

[2014-02-27 14:26] #30 closed, assigned to WildcardSearch

[2014-02-28 19:02] WildcardSearch opened #33 "Multi-mention Fails When Using CSS Buttons"
Need to add `postbit_multimention` class to the anchor in `mentionme_postbit_button` template and rework the JS to alter class names for `on` and `off` (selected/not selected) so that multi mentions will work out of the box for users with CSS postbit buttons.

Reported here: http://community.mybb.com/thread-131448-post-1063873.html#pid1063873

[2014-02-28 19:04] WildcardSearch opened #34 "MySQL Error For Non-staff Members"
An incorrectly aliased field name causes a Fatal Error for only non-staff members (during permission checks).

Reported here: http://community.mybb.com/thread-131448-post-1063960.html#pid1063960

[2014-02-28 20:20] WildcardSearch opened #35 "Move Quick Reply Notice HTML To Template"
I was supposed to find and move all of this last version :facepunch: Oh well.

[2014-02-28 20:40] WildcardSearch opened #36 "Postbit Buttons Not Added To Classic Template"
I forgot to consider classic view. :blush:

Reported: http://community.mybb.com/thread-131448-post-1063960.html#pid1063960 (its a long post)

[2014-02-28 20:46] #36 closed, assigned to WildcardSearch

[2014-02-28 21:00] #35 closed, assigned to WildcardSearch

[2014-02-28 21:02] #34 closed, assigned to WildcardSearch

[2014-03-02 00:48] #33 closed, assigned to WildcardSearch

[2014-03-02 16:11] WildcardSearch opened #38 "Classic Postbit Template Edits Not Removed On Uninstall"
Reported here: http://community.mybb.com/thread-131448-post-1064194.html#pid1064194

[2014-03-02 16:12] WildcardSearch opened #39 "Postbit Button Shows Even To Users Who Can't Post Replies"
I don't consider this mission-critical but it does need to be addressed.

Reported here: http://community.mybb.com/thread-131448-post-1064194.html#pid1064194

[2014-03-02 16:44] WildcardSearch opened #40 "Moderator Edited Mentions Produce Mention Alerts From The Mod"
If a moderator edits a post that contains mentions an alert could be created to the mentioned user and attributed to the moderator editing the post. Need to check if `$edit_uid == $post['uid']` and if not, avoid creating mentions altogether.

[2014-03-02 20:47] WildcardSearch opened #41 "Don't Show Postbit Button For Own Posts"
@martec made me think about this when he reported permissions checks.

[2014-03-02 22:16] WildcardSearch opened #42 "Abide By Ignore List"
Don't send an alert if the mentioning user is on the mentioned user's ignore list.

Requested here: http://community.mybb.com/thread-131448-post-1062347.html#pid1062347

[2014-03-03 16:01] #38 closed, assigned to WildcardSearch

[2014-03-03 16:01] #39 closed, assigned to WildcardSearch

[2014-03-03 16:01] #40 closed, assigned to WildcardSearch

[2014-03-03 16:01] #41 closed, assigned to WildcardSearch

[2014-03-03 16:01] #42 closed, assigned to WildcardSearch

[2014-03-05 00:19] WildcardSearch opened #44 "Postbit Button Show When Quick Reply Isn't"
Reported here: http://community.mybb.com/thread-131448-post-1064502.html#pid1064502

[2014-04-07 16:48] #44 closed, assigned to WildcardSearch

[2014-04-07 16:49] WildcardSearch opened #46 "Multi-mention JS Pollutes Global Namespace"
A variable is used that was not declared locally therefore creating `window.element` unintentionally.

[2014-04-08 23:20] #46 closed, assigned to WildcardSearch

[2014-04-11 01:39] WildcardSearch opened #47 "Auto Complete Behavior Issue"
When the popup is still loading the name cache and the user presses the enter key, it dismisses the popup. This seems unintuitive to me.

[2014-04-22 19:16] #47 closed, assigned to WildcardSearch

[2014-04-24 21:59] WildcardSearch opened #49 "Auto Complete: Duplicates In Prediction List"
In some cases, two or more instances of the same user name may be shown in the auto completion prediction/suggestion list. I specifically remember checking the cache for duplicates but there is obviously some flaw in my logic.

[2014-04-27 10:40] Eldenroot opened #50 "It is not working"
Hi,
this plugin is not working on my site. I type @ but no autocomplete shown, nothing

[2014-04-30 18:29] WildcardSearch opened #51 "Special Characters Not Recognized"
Reported here: http://community.mybb.com/thread-131448-post-1068959.html#pid1068959

Suggested fix: http://community.mybb.com/thread-131448-post-1069628.html#pid1069628

[2014-04-30 19:44] WildcardSearch opened #52 "Autocomple AJAX Querying More Info Than Needed"
In that routine we only need user name but are getting the full name cache set.

[2014-04-30 19:53] WildcardSearch opened #53 "XMLHTTP Hook Sometimes Added Unnecessarily"
When either autocompletion or postbit buttons are enabled, the `xmlhttp` hook is added regardless of whether it is needed or not.

[2014-04-30 20:02] #53 closed, assigned to WildcardSearch

[2014-04-30 20:03] #52 closed, assigned to WildcardSearch

[2014-05-03 00:34] dthiago opened #54 "Cannot acess any post"
Fatal error: Call to undefined function get_called_class() in /home/bf4br419/public_html/forum/inc/plugins/MentionMe/classes/WildcardPluginCache.php on line 28

[2014-05-05 19:04] Cu8eeeR opened #55 "Show first nicks from the thread in popup window"
It would be nice to show nicknames from the thread where you reply. You know, write @ and then show for example last 5 nicknames from this thread... it would be useful before you type any other letter.

[2014-05-05 20:56] WildcardSearch opened #56 "International Keyboard Layout @ May Not Trigger Popup"
From a conversation started in #50, @Cu8eR noted that using non-English keyboard layouts prevent the popup from displaying when @ key is typed using alternate methods.

[2014-05-31 15:01] Eldenroot opened #57 "Do not use member group color for @tags"
It would be nice to have an option to do not use style for groups (green=admin, purple=moderator etc.)

So disable it and everybody will have same color

[2014-06-02 16:07] WildcardSearch opened #58 "Mentioned Names That Include Quotes May Not Work"
The regex is looking for any quote chars (`"|'|``) when it should be looking for a matching pair of the quote character.

[2014-06-02 16:10] WildcardSearch opened #59 "Autocomplete: Mentions That Include Double-Quotes Will Not Be Inserted Properly"
When a name includes double-quotes (example `User "name"`) which is legal in MyBB, the JavaScript will insert the name as `@"User "name""` which will not be matched/linked correctly.

Need to check the name and use appropriate quote characters.

[2014-06-02 16:19] #50 closed, assigned to WildcardSearch

[2014-06-02 16:20] #51 closed, assigned to WildcardSearch

[2014-06-02 16:46] #59 closed, assigned to WildcardSearch

[2014-06-02 16:50] #58 closed, assigned to WildcardSearch

[2014-06-02 17:03] #57 closed, assigned to WildcardSearch

[2014-06-02 17:25] #54 closed, assigned to WildcardSearch

[2014-06-02 17:30] WildcardSearch opened #60 "Incorrect Language For Force Enable Flash Message"
Currently after force enabling mention alerts the following flash message is show:

That is inaccurate and leads the user to believe that **all** alerts have been force-enabled.

[2014-06-02 17:33] #60 closed, assigned to WildcardSearch

[2014-06-02 20:25] JordanMussi opened #62 "Alternative method for storing mentions"
At the moment this plugin stores mentions as `@JordanMussi` (or `@"JordanMussi"` or `@'JordanMussi'` etc.). However this leads to querying the DB for a user matching this username. In the first instance this is more costly as usernames with multiple words cause multiple queries, for example `@Jordan Mussi` (discounting the mention cache).
Also `@Jordan Mussi` would match a user called Jordan befor

[2014-06-02 20:29] JordanMussi opened #63 "Repeated mentions when post is edited"
I'm not sure if you've fixed this issue. I've haven't seen it around so perhaps you have. :smile:

If you were to gather the user IDs of the mentions in the post when inserted and add to a sterilized array in the posts row and check new mentions against that list then mentions shouldn't get repeated. This will be easier if bundled in along with #62.

[2014-06-03 16:57] #62 closed, assigned to WildcardSearch

[2014-06-04 23:06] WildcardSearch opened #64 "Installer SQL Error"
Reported here: http://community.mybb.com/thread-131448-post-1078178.html#pid1078178

Related to https://github.com/WildcardSearch/Advanced-Sidebox/issues/184

[2014-06-07 23:07] Shade- opened #66 "Quick Edit support"
Quick Edit should be supported by the autocomplete feature.

[2014-06-08 19:34] Eldenroot opened #67 "Support for SCEditor WYSIWYG editor"
Could you add a support for this editor? Or tell me - in MyBB 1.8 is a new editor - is this plugin compatible with new one? If yes, nevermind this request :)

[2014-06-08 19:56] #56 closed, assigned to WildcardSearch

[2014-06-08 21:02] #64 closed, assigned to WildcardSearch

[2014-06-09 16:28] WildcardSearch opened #68 "Mention Detection Broken In Last Version"
Reported here: http://community.mybb.com/thread-131448-post-1078550.html#pid1078550

[2014-06-09 16:29] WildcardSearch opened #69 "Advanced Matching Will Not Match Extended Characters"
The regex is flawed will try to solve this when addressing https://github.com/WildcardSearch/MentionMe/issues/68

[2014-06-09 16:56] #69 closed, assigned to WildcardSearch

[2014-06-09 16:56] #68 closed, assigned to WildcardSearch

[2014-06-09 17:00] #63 closed, assigned to WildcardSearch

[2014-06-10 15:38] Tbo29 opened #71 "[Renamed] Surrounding Punctuation Breaks Mentions After Update To 2.3.2"
I've seen that in my board (German), people type a mentioned User like @username, and with a comma the user name does not work, it's not so easy to explain to them that they should write @"username",

Is there a way to ignore the comma after the username?

[2014-06-12 16:47] #71 closed, assigned to WildcardSearch

[2014-06-13 15:57] Tbo29 opened #72 "Language Files"
Sorry to bother you again, but I'ven seen if I translate the language file and place it in the language folder e.g. (deutsch_du) it does not get loaded, I've to replace the original english file. As I have more languages on my boards, is there a workaround?

[2014-07-02 09:38] rumpelsepp opened #73 "mybb 1.6.14 problem"
There might be a problem since the last mybb update. The autocompletion does not work any more and I have this loading animation under my editor and quick reply field.

![bildschirmfoto vom 2014-07-02 11 36 35](https://cloud.githubusercontent.com/assets/1961699/3454074/9924bac4-01cc-11e4-8fbc-f5c007907e48.png)

[2014-07-04 05:26] #73 closed, assigned to WildcardSearch

[2014-07-08 14:54] #67 closed, assigned to WildcardSearch

[2014-09-26 09:36] Cu8eeeR opened #74 "Will be there update to MyBB 1.8?"
Hi,
 will be there an updated version for MyBB 1.8? Thanks

[2014-09-29 03:34] damian5000 opened #75 "users old group CSS showing"
Not sure what this issue is... Perhaps related to cache?

All users I've seen are showing up as correct color except 1 who's showing up as standard user.

He's been in this user group for quite awhile. The only thing I can think of is that his user group was changed after installing the plugin and thus old user group was cached?

I have checked his account and everything is as it should be (correc

[2014-11-11 09:59] Cu8eeeR opened #76 "Space after @username"
Type "@Cu8eR - thx" and click on post

-> the text will be formated to "@Cu8eR- thx"  the space is missing after R

[2014-12-24 18:18] martec opened #77 "light version to 1.8"
Hi possible create too light version of mention me to 1.8?

feature type autocomplete etc... make code very bigger... and increase file numbers (js files etc...) that i never will use...
but if has only mention core feature + integration with new myalert is best for me...
to old myalert has version 2.2.5 of mention me ... but this won´t compatible with new version of myalert, so am I compelled to

[2016-03-17 21:53] zombieking93 opened #79 "MentionMe won't allow certain characters"
Hi, on my forum mentionme won't allow names with | for some reason

[2016-09-29 21:13] WildcardSearch commented on #79
Thanks for the report.

[2016-09-29 21:16] WildcardSearch commented on #76
Thanks for the report.

[2016-09-29 21:17] WildcardSearch commented on #75
I realize that this is an old issue, but yes, it was probably just the cache needing to be updated. You can refresh the name cache at any time by using the tools provided in ACP.

[2016-09-29 21:19] WildcardSearch commented on #74
@Cu8eR sorry I haven't been able to work on my plugins, but I am getting back into the swing of things. I am currently looking into the SCEditor documentation as that will be the biggest obstacle in getting MentionMe update for MyBB 1.8.

[2016-09-29 21:20] WildcardSearch commented on #72
@Tbo29 can you point me to the changes you made?

[2016-12-03 12:38] Cu8eeeR opened #80 "Add user avatars into dropdown menu"
Hi, something like this - just try to type @ or # (mention threads)

www.mybboost.com

[2016-12-03 14:56] WildcardSearch commented on #80
Sounds doable. I have marked this change for the first minor point version of the plugin for 1.8

[2016-12-03 15:24] Shade- commented on #80
I you're wondering, I use [At.js](http://ichord.github.io/At.js) which could be nice to have in MentionMe too.

[2016-12-03 15:38] WildcardSearch commented on #80
Thanks, @Shade-

I'll be honest, I really want to handle the auto-completion in-house, mainly because I need to use the built-in name cache and because it will more maintainable.

Built the task has proven very difficult and I might have to use At.js or some other library.

[2016-12-05 22:50] #75 closed

[2016-12-07 23:16] WildcardSearch opened #81 "Provide Automated MyAlerts Integration"
When MentionMe is installed first and MyAlerts is installed later, the integration does not occur. Already in place is a mechanism to warn the user that MyAlerts integration hasn't been done, but I feel that this would be served better by adding a link in ACP plugin info to handle the integration.

[2016-12-08 02:37] WildcardSearch opened #82 "Update for MyBB 1.8.x"
- [x] initial update
- [x] debugging
- [x] code cleanup

[2016-12-08 03:54] WildcardSearch commented on #74
The first draft is in. I'd welcome it if you could test @Cu8eeeR

[2016-12-08 03:55] WildcardSearch commented on #72
This should be fixed.

[2016-12-08 03:55] #72 closed

[2016-12-08 05:45] Cu8eeeR commented on #74
Thx, I will later today. can you please add support for CKeditor from
martec in future?

Dne 8. 12. 2016 4:54 napsal uživatel "Mark Vincent" <
notifications@github.com>:

[2016-12-08 12:26] WildcardSearch commented on #74
CKEditor? Is that @martec's project?

[2016-12-08 13:04] Cu8eeeR commented on #74
Yeah, I moved to ckeditor because sceditor is quite bugged :(

Dne 8. 12. 2016 13:27 napsal uživatel "Mark Vincent" <
notifications@github.com>:

[2016-12-08 17:47] WildcardSearch commented on #74
I'll take a look at it. If you will create an issue, it will help me remember.

This will be something I'll look into after initial release for the next minor point version.

[2016-12-08 19:00] Cu8eeeR opened #84 "Add a support for CKEditor (@martec plugin)"
Add a support for CKEditor (@martec plugin)

Or any other CKeditor plugin (there are two more on mybb mods site)

[2016-12-08 22:11] Cu8eeeR commented on #74
OK, php error (you should add a link or info that the package from Euan is needed

Fatal error: Class 'MybbStuff_MyAlerts_Formatter_AbstractFormatter' not found in /web/inc/plugins/MentionMe/classes/MentionMeFormatter.php on line 10

[2016-12-08 23:19] WildcardSearch commented on #74
Thanks for the report, but shouldn't that be included with MyAlerts? I get no such error on localhost.

[2016-12-08 23:22] WildcardSearch commented on #84
As it seems to be a popular WYSIWYG editor, I will look into integration.

[2016-12-08 23:24] WildcardSearch opened #85 "Task Not Deleted On Uninstall"
The database entry for the task remains after the plugin is uninstalled.

[2016-12-09 12:27] Cu8eeeR commented on #74
OK, but what if the board doesnt use MyAlerts plugin?

[2016-12-09 12:28] Cu8eeeR commented on #84
Yeah, it is. Mainly because SCeditor is really crappy (bugged), maybe it will be better now when the dev came back after 1 year off

[2016-12-09 12:53] euantorano commented on #74
Best solution would be to use the class_exists function to check if it exists.

[2016-12-09 21:49] WildcardSearch commented on #74
Okay @Cu8eeeR, I had a look and I see what you mean. I was misunderstanding you. I will make a separate issue.

Thanks for the report. I completely missed that.

[2016-12-09 21:51] WildcardSearch opened #86 "Install: PHP Errors When MyAlerts Is Not Installed"
The file `alerts.php` needs to be included conditionally.

Reported by @cu8eeer in #74

[2016-12-09 21:54] WildcardSearch commented on #84
Yes, I saw that the author has made a reappearance. I was a little worried.

I've noticed quite a few issues with SCEditor, but I have never tried CKEditor. I'll give it a look after I am caught up.

[2016-12-09 22:14] #85 closed

[2016-12-09 22:20] Cu8eeeR commented on #81
You can check my Thank you/like plugin - it has this feature. Or even better DVZ mentions

[2016-12-09 22:45] #86 closed

[2016-12-09 22:48] WildcardSearch commented on #81
Okay thank you. 👍

[2016-12-10 10:32] Cu8eeeR commented on #66
+1, also in PMs

[2016-12-10 10:42] Cu8eeeR opened #87 "Weird thing in post reply and in quick reply"
Two issues (latest 1.8 release branch).

- quick reply - it shows a spinner (still loading, nothing happens)
- new reply - type box is shown at the bottom (check image attached)

![bug](https://cloud.githubusercontent.com/assets/778890/21072763/b0a2f7b8-becd-11e6-8a86-1b012898bd99.png)

[2016-12-10 15:18] WildcardSearch commented on #87
Can you check to see if `mentionme.css` exists in your theme's stylsheets in ACP?

Try editing the style sheet and saving it and see if that fixes the problem.

[2016-12-10 15:50] Cu8eeeR commented on #87
@WildcardSearch - OK, mentionme.css is added correctly. So I just resaved it, it works now better.

Anyway, the dropdown window will need some CSS love :) I think you know it. Everything else works fine (At least everything what I have tested so far).

![css](https://cloud.githubusercontent.com/assets/778890/21074415/c79ffdaa-bef8-11e6-9065-0f34affa46b6.png)

[2016-12-10 15:50] WildcardSearch commented on #66
Autocomplete has always been meant to work in PMs. Is it not working for you?

[2016-12-10 15:52] Cu8eeeR commented on #87
Would be nice to have highlighted letters in usernames
http://i.imgur.com/WiE0XgP.gif

[2016-12-10 15:54] Cu8eeeR commented on #66
@WildcardSearch - No, without success

[2016-12-10 15:59] WildcardSearch commented on #87
This is a recurring thing. I need to figure out why that style sheet isn't getting cached.

Trust me I know that am not a designer 👅 I'd welcome any help making things look better.

You mean highlight the letters that match?

[2016-12-10 16:00] WildcardSearch opened #88 "Style Sheet Not Getting Cached"
This had been a recurring problem since the introduction of the style sheet in 2.3.x. Need to find out what is going on here.

[2016-12-10 16:02] WildcardSearch commented on #66
Are you getting any JavaScript errors in console?

Can you look at the page source in the footer section and see if MentionMe's JavaScript is being output?

[2016-12-10 16:03] Cu8eeeR commented on #87
Yes, I am sorry for my English, not a native speaker

I will try again on a fresh local board

I would like to help you but I think that my skill for CSS and JS are not great :( I am trying my best but a lot of still need to be learn

[2016-12-10 16:05] WildcardSearch commented on #87
There is still a good bit that I want to do before release. One thing being to get some continuity between the autocomplete for SCEditor and the autocomplete for Quick Reply/normal text areas.

Once that is done, everything will be in templates so perhaps I can get some help adjusting the HTML/CSS so that we can release with a better looking popup 👍

[2016-12-10 16:12] Cu8eeeR commented on #87
OK, tested again. Works on first install (I am not sure what was wrong before) - the CSS loading part.

I sent you a PM on mybb.com - just test whatever you need :)

[2016-12-10 16:12] Cu8eeeR commented on #66
@WildcardSearch - fresh board tested - works fine, I am sorry

[2016-12-10 16:15] Cu8eeeR commented on #87
@WildcardSearch - I have some ideas:
* when you type @ - show the usernames from users who contributed in the thread first (xenforo has this feature, quite useful)
* full text search (when you type "er" it will show also user "Tester"

[2016-12-10 16:21] WildcardSearch commented on #87
I don't know either. I'm going to have a look at the way I am installing the style sheet and make sure it matches to the core code.

Great. Thanks.

I agree. In fact #55 is confirmed for 3.1 😄

Another great idea. I'll make an issue for it.

[2016-12-10 16:25] WildcardSearch opened #89 "Autocomplete: Full Text Search"
Currently, the typed text is searched against the **first** characters in usernames. It has been mentioned before and now recently from @cu8eeer in #87 that it would be useful to search for the typed text **anywhere** in the username.

@cu8eeer and anyone else who wants to chime in: Should this be default behavior or should I create a new setting to determine behavior?

[2016-12-10 16:27] Cu8eeeR commented on #89
@WildcardSearch - I think that the default behaviour would be easier for coding, but some users dont like this so the option would be better choice (at least there wont be more issues and complains about this in future :) )

[2016-12-10 16:31] WildcardSearch commented on #89
That's what I am thinking. I suggest that default behavior be left as-is and a setting introduced to toggle between that and the behavior suggested in this issue.

[2016-12-10 16:32] WildcardSearch commented on #66
That's great.

[2016-12-10 16:56] WildcardSearch opened #90 "Incorrect MyAlerts Plugin Path"
Reported here: https://community.mybb.com/thread-131448-post-1255675.html#pid1255675

[2016-12-10 16:59] #90 closed

[2016-12-10 18:45] WildcardSearch commented on #88
@cu8eeer I think I found the issue. If you get time, give this a test.

[2016-12-10 20:46] Cu8eeeR commented on #88
@WildcardSearch - it works fine, good job!

[2016-12-10 21:34] WildcardSearch commented on #88
Wonderful

[2016-12-10 21:34] #88 closed

[2016-12-10 21:38] WildcardSearch opened #91 "Autocomplete: Popups Need To Be Uniform"
Currently two different JavaScript files power the SCEditor and standard autocomplete routines. SCEditor relies on a template and uses and HTML `input` for the currently typed cache; the standard version uses the inputor (`textarea`) to contain currently typed characters.

These two need to be identical and perhaps the JS could be merged as well.

[2016-12-11 09:56] Cu8eeeR opened #92 "Mentions: change from username to user ID"
As title says - there is an issue if the user will be renamed. All mentions with old usernames will be invalid.

This can be fixed this way:
- show username in mentioned based on user ID (user ID is always same, the username is not)

[2016-12-11 15:52] WildcardSearch commented on #92
This has actually been suggested before in #62, but @jordanmussi and I concluded that, while this approach has its merits, it has the fatal flaw of leaving some sort of weird tag behind:

`<mention:uid>`, or `[mention uid="123"]name[/mention]`

...while the current method only leaves behind the unobtrusive: `@name` or at worst, `@"name"`

Be that as it may, I'd be glad to hear your thoughts after

[2016-12-11 16:23] Cu8eeeR commented on #92
@WildcardSearch - yeah, I agree. Unfortunately there is no easy way how to sort this out :(

[2016-12-11 20:43] #91 closed

[2016-12-11 20:44] WildcardSearch commented on #92
I guess it will have to stay as-is.

[2016-12-11 20:44] #92 closed

[2016-12-11 21:23] Shade- commented on #92
Have you considered replacing the textarea with a contentEditable div, and display the formatted username there? This way, you can potentially use the uid syntax while providing a visual feedback too

[2016-12-11 22:22] WildcardSearch commented on #92
@Shade-, even if that were done, after uninstalling the plugin, there would be the same problem with leftover code tags.

[2016-12-12 22:14] WildcardSearch commented on #82
I feel pretty good about the debugging phase. @cu8eeer, have you had a chance to test the newest update? You are the only tester I have lol

[2016-12-13 10:51] Cu8eeeR commented on #82
I will ASAP, I am at work (Europe-CET)

2016-12-12 23:14 GMT+01:00 Mark Vincent <notifications@github.com>:

--
Jakub Kořistka
email: eldenroot@gmail.com <Eldenroot@gmail.com>

[2016-12-13 12:31] WildcardSearch commented on #82
No rush. Thanks for all your help.

[2016-12-13 20:39] Cu8eeeR commented on #82
@WildcardSearch - I had been testing over 1 hour on my live board - works fine. I havent tested MyAlerts integration (dont use this right now). Now, design needs some love and it will be ready 👍

Good job!

[2016-12-13 22:15] WildcardSearch commented on #82
Thank you @Cu8eeeR.

I think removing the scroll bars was a big step forward. What changes would you make to the design of the popup?

[2016-12-13 22:23] WildcardSearch commented on #77
@martec I'm going to close this.

I barely have enough time to maintain one version of my plugins, let alone two. I think that you are underestimating the efficiency of this plugin. The most resource intensive part of MentionMe is the core mention recognition. Features like postbit buttons and autocomplete have negligible effect on the resources of your forum **when enabled**-- when disabled, we a

[2016-12-13 22:23] #77 closed

[2016-12-14 18:38] Cu8eeeR commented on #82
It is really difficult to say... it will look better with avatars in v3.1

Maybe some shadows and better color picks?

[2016-12-14 19:38] WildcardSearch commented on #82
That looks really good. We will have to do a little styling before 3.1 to get the avatars in there so I'll just hold off on popup styling till then so I can go ahead and get this released.

[2016-12-14 20:13] Cu8eeeR commented on #82
@WildcardSearch - I agree, will you work on v3.1 after you release v3.0? I think there would be maybe some new bug reports (more testers) which would be nice to fix them into v3.1.

[2016-12-14 20:35] WildcardSearch commented on #82
I completely agree.

[2016-12-14 20:36] WildcardSearch opened #93 "Autocomplete: json_encode Fails When User Names Contain Special Characters"
Example User Name: `Màtt`

[2016-12-15 09:59] Shade- commented on #92
Well you could attach an handler to replace all the IDs with the username on uninstall, but I can definitely see your point. It wouldn't be much reliable (the search pattern might replace unwanted pieces of posts) and for big boards it might take ages to loop through all posts.

[2016-12-15 12:26] WildcardSearch commented on #92
Yeah, there really isn't a good way to handle it.

Although I must admit, things would be a whole lot simpler if I could just use uid's

[2016-12-15 13:11] WildcardSearch commented on #93
This issue is invalid. I misdiagnosed the problem.

[2016-12-15 13:11] #93 closed

[2016-12-15 13:14] WildcardSearch opened #94 "Autocomplete: Search Results Include Near Matches"
Example: When querying for `mat` users receive results for `màt`

In the popup, however, these users are not matched.

[2016-12-15 13:15] WildcardSearch opened #95 "Missing Parenthesis In Cache Class"

[2016-12-15 13:17] #95 closed

[2016-12-15 13:35] #94 closed

[2016-12-15 15:29] Cu8eeeR commented on #76
Can you confirm or not, if not please close this. I reported this issue on MyBB 1.6.x

[2016-12-15 15:57] WildcardSearch commented on #76
I just tested on 2.3.3 for MyBB 1.6 and 3.0 BETA for 1.8 and couldn't reproduce.

[2016-12-15 15:57] #76 closed

[2016-12-15 15:58] WildcardSearch commented on #87
I'm going to close this discussion thread as release nears.

[2016-12-15 15:58] #87 closed

[2016-12-15 15:58] #74 closed

[2016-12-15 16:02] WildcardSearch commented on #79
Hi @zombieking93, I've had a chance to review your report. The solution is to use the quoted syntax: `@"na|me"` and it will work just fine.

It is a known limitation of this plugin that when using the unquoted version of the tag, special characters will sometimes fail to be matched.

[2016-12-15 16:02] #79 closed

[2016-12-16 17:48] #82 closed

[2016-12-16 18:41] WildcardSearch opened #97 "User Names With Special Characters Not Matched"
Example username: `pété` cannot be matched whether quoted or unquoted.

[2016-12-16 18:53] #97 closed

[2016-12-19 16:39] WildcardSearch opened #99 "Task: Incorrect Cache Method"
A call to `MentionMeCache::get_instance` should be `MentionMeCache::getInstance` and is causing the name cache task to fail.

Reported here: https://community.mybb.com/thread-164377-post-1256585.html#pid1256585

[2016-12-19 16:47] #99 closed

[2016-12-19 17:38] Cu8eeeR commented on #84
@WildcardSearch - as you can see - really many users replaced the default MyBB editor by CKeditor. Shade added full support for SCeditor and CKeditor in his plugin "Quick references". Maybe you can check the code to make things easier.

[2016-12-21 01:44] WildcardSearch opened #101 "Template Edits: Footer Regex Needs Improvement"
Currently the regular expression attempts to match specific closing content of the template, when really all that is needed is to add our edits to the end of the content.

As reported here, https://community.mybb.com/thread-206710-post-1256610.html#pid1256610, sometimes the match is not made and the template edits do not occur. This causes the autocomplete to break site-wide

[2016-12-21 23:37] WildcardSearch opened #102 "Add Setting To Remove/Replace @ Symbol"
Requested here: https://community.mybb.com/thread-206710-post-1256767.html#pid1256767

[2016-12-26 16:22] #101 closed

[2016-12-28 00:04] WildcardSearch commented on #84
That looks good to me @Cu8eeeR

I did a pretty big rework of the autocomplete JS and it should be a lot easier to maintain now. If you get time to test, let me know how it goes.

[2016-12-28 00:17] WildcardSearch opened #104 "Autocomplete: Add Setting For Maximum Items In Popup"
I originally made `maxItems` a variable so that it could be set externally and never got around to adding the setting.

[2016-12-28 04:25] WildcardSearch opened #105 "Autocomplete: Highlight Matching Letters In Popup"
@cu8eeer suggested it somewhere and I never made an issue.

[2016-12-29 20:47] WildcardSearch opened #106 "Templates Not Cached"
`mentionInitialize` needs to be modified to add templates to `$templatelist`

[2016-12-29 22:44] WildcardSearch opened #107 "Invalid HTML In Popup Template"
I missed an open `div` in the popup template.

[2016-12-29 22:55] #107 closed

[2016-12-30 03:51] WildcardSearch commented on #55
I decided to make this setting-controlled since it will require an extra query.

[2016-12-30 09:47] Cu8eeeR commented on #55
Good, I agree!

[2016-12-30 09:48] Cu8eeeR commented on #106
Great! Is there any other space how to optimize mentionme?

[2016-12-30 09:48] Cu8eeeR commented on #105
Thank you!

[2016-12-30 09:48] Cu8eeeR commented on #104
Good job! v3.1 is closer and closer

[2016-12-30 09:49] Cu8eeeR commented on #102
Is possible to parse the "@" after you send a post?

[2016-12-30 09:50] Cu8eeeR commented on #84
@WildcardSearch - I am sorry, I hadnt been in home for last 5 days due to Christmas. I will check ASAP with other improvements you made

[2016-12-30 10:00] Cu8eeeR opened #109 "Missing space after @username"
3.1 (minor branch) - last build downloaded 10:58 CET 30/12/2016

If you type in quick reply/full reply
@TESTER text -> it will be shown as @TESTERtext

space is deleted in output (but if you wanna edit your post, the space is here)

[2016-12-30 10:01] Cu8eeeR opened #110 "Autocomplete: Add autofocus after mention the user from popup"
When you wanna mention someone in post, and press "enter" you have to click to the text area again to continue (cannot write, there is no "focus"). It should be automatically.

[2016-12-30 10:04] Cu8eeeR opened #111 "Add space after mentioned username automatically"
Add "space" after mentioned usernames automatically.

[2016-12-30 10:09] Cu8eeeR commented on #80
@WildcardSearch

This change includes redesign of the dropdown menu. You can take idea from here:
![automention](https://cloud.githubusercontent.com/assets/778890/21563233/58ee9dac-ce80-11e6-9b32-0e4035f1d23e.png)

https://community.mybb.com/thread-173199-post-1256198.html#pid1256198

[2016-12-30 10:26] Cu8eeeR commented on #89
Works fine! Good job ,thank you!

[2016-12-30 14:18] WildcardSearch commented on #89
You're welcome, @Cu8eeeR 👍

Thanks for testing.

[2016-12-30 14:20] WildcardSearch commented on #80
This is what I'll be working on today. I'll try my best to make it look as nice as possible.

[2016-12-30 14:21] WildcardSearch commented on #111
This used to be the default behavior. In fact, I used to add a space before the mention if it was jammed up against some text and a space after as well, but someone (I can't remember who) complained about it, so I took that behavior out of the plugin.

So, you think I should put it back in or just the space after?

[2016-12-30 14:22] WildcardSearch commented on #110
Thanks for the report. I'll take a look at it.

[2016-12-30 14:24] WildcardSearch commented on #109
Thanks for the report. This is a duplicate of #76, but I see that it has been marked as invalid.

I'll give it a look today.

[2016-12-30 14:25] WildcardSearch commented on #84
Oh yeah, I understand. Enjoy your holiday, my friend. 😄

[2016-12-30 14:26] WildcardSearch commented on #102
I'm not sure I understand the question. Can you rephrase?

[2016-12-30 14:26] WildcardSearch commented on #104
Thank you 😄

[2016-12-30 14:27] WildcardSearch commented on #105
You're welcome 😄

[2016-12-30 14:28] WildcardSearch commented on #106
I am sure there is always room for improvements to be made. I try to keep that in mind when I am going through the code. If I notice something that can be done better, I try to make an issue and at least give it a try.

Of course, I am always open to suggestions.

[2016-12-30 14:31] WildcardSearch commented on #55
This seems to have solved #49 as well 😄

[2016-12-30 15:03] Cu8eeeR commented on #111
For me it is better to add a space after the mentioned user. "Automention plugin" from martec has the same behaviour, as well as GitHub or Facebook mention feature.

It is really difficult to make an universal approach for all users. Personally I vote for space after the username.

[2016-12-30 15:04] WildcardSearch commented on #111
That seems fair. I'll confirm this for 3.1

[2016-12-30 15:04] Cu8eeeR commented on #109
@WildcardSearch - it was working fine for me (v3.0 prerelease) IRC. Maybe some changes in code?

[2016-12-30 15:08] Cu8eeeR commented on #106
I am not a PRO in coding (I have been just in a "learning mode" for over 2 years : )

MentionMe already uses minified JS which can help a lot. Cached templates will be another step. There is no reason to use minified CSS. I have no more ideas what to improve, maybe optimise the code to use lesser queries (if it is possible).

[2016-12-30 15:10] Cu8eeeR commented on #105
It just needs CSS love :)

I propose you to change color of the text, this will be better for reading. Anyway it is mentioned here #80

[2016-12-30 15:17] WildcardSearch commented on #109
It was removed in the first commit for 1.8 https://github.com/WildcardSearch/MentionMe/commit/974c7e6d129cd72974a9638aadb49958161a77a6

[2016-12-30 15:32] WildcardSearch commented on #106
Here is an overview some of the things that have been done since I first released MentionMe 1.0.

- checks were put in place to assure that no hooks are ever added unnecessarily (wrong page, setting off, etc.)
- the name cache was introduced for autocomplete to save queries for user information when being mentioned
- any user who is mentioned in any thread is automatically added to the name cache

[2016-12-30 16:03] Cu8eeeR commented on #106
Thanks for the detailed report 👍 A lot of work have been done :)

[2016-12-30 16:55] WildcardSearch opened #112 "Autocomplete: Full Text Search Can't Be Turned Completely Off"
Currently, any keys you press will still be matched anywhere in the user name even if Full Text Search is off.

[2016-12-30 16:56] WildcardSearch commented on #66
This has been a long time coming, but it will have to wait until the next minor version increase as it will require another huge JavaScript rewrite.

[2016-12-30 17:02] Cu8eeeR commented on #66
:(

[2016-12-30 17:17] WildcardSearch commented on #110
@Cu8eeeR, I'm not experiencing an issue. In my tests, the caret focuses back into the editor after insertion.

https://github.com/WildcardSearch/MentionMe/blob/416b1d74e5bdad3b4ea46ca91a4e3cf6557bddf1/Upload/jscripts/MentionMe/autocomplete.js#L165

and then

https://github.com/WildcardSearch/MentionMe/blob/416b1d74e5bdad3b4ea46ca91a4e3cf6557bddf1/Upload/jscripts/MentionMe/autocomplete.js#L1137, ht

[2016-12-30 17:21] WildcardSearch commented on #66
The problem is that the JavaScript currently doesn't support multiple instances. There can only be one popup at a time. So in `showthread.php`, when a user click Quick Edit they would overwrite the autocomplete object for the Quick Reply window and cause it to fail or both of them to fail.

When I get time, I am going to rewrite the JavaScript as a multi-instance object. This will allow me to prov

[2016-12-30 17:34] WildcardSearch commented on #109
I'm not having an issue:

![Quick Reply](http://i.imgur.com/M4GWVes.png)

![Post](http://i.imgur.com/6Bln1jq.png)

[2016-12-30 17:38] Cu8eeeR commented on #109
@WildcardSearch - now it works fine on my test board, really weird. I am closing this, if I will see this error again I will contact you. I am sorry .(

[2016-12-30 17:38] #109 closed

[2016-12-30 17:39] Cu8eeeR commented on #110
@WildcardSearch - issue persists (Google Chrome, Win 10 64bit).
http://testingpage.4fan.cz/showthread.php?tid=3&pid=18#pid18 (same user and pw which I sent you via PM)

[2016-12-30 19:54] WildcardSearch commented on #110
I just tested and behavior is as expected for me! 😕

[2016-12-30 19:55] WildcardSearch commented on #110
...also I notice the mention `@tester text` has a space in it! 😖

[2016-12-30 20:01] WildcardSearch commented on #80
I'm just going to make it match with how the popup already looks for now. Then I will spend some time this evening trying to fiddle with the styling in CSS and JS to get it looking better and acting a little more consistently in a separate commit.

[2016-12-30 20:34] Cu8eeeR commented on #110
Which browser do you have?

[2016-12-30 20:50] Cu8eeeR commented on #110
OK tested again:
1) Google Chrome - focus is not working
2) Firefox - focus is working fine

So it is browser related issue.

[2016-12-30 22:29] WildcardSearch commented on #110
I tested in Chrome 55.0.2883.87 m

[2016-12-31 02:04] WildcardSearch commented on #80
Getting close now...😄

I just have to work on styling the popup and code cleanup then I can release.

Please test! I would greatly appreciate it @anyone

[2016-12-31 03:57] WildcardSearch opened #113 "Autocomplete: Popup Style Needs Improvement"
Trying to achieve something close to @cu8eeer's suggestions in #80

[2016-12-31 04:11] WildcardSearch commented on #113
![Autocomplete Popup](http://i.imgur.com/y0abGke.png)

[2016-12-31 04:44] WildcardSearch opened #114 "Autocomplete: Clicking In Input Closes Popup"

[2016-12-31 08:41] Cu8eeeR commented on #113
@WildcardSearch - it is a huge step forward! Really nice!

I suggest these improvements:
- change the right and bottom border - just leave it grey and make shadows smaller
- after the 5th nickname there is a 1-2px useless space
- did you add background-color: #fff for the avatars? It is a must have for transparent png avatars
- maybe you can make the avatars bigger - add 3-5 px - it will use the u

[2016-12-31 08:51] Cu8eeeR commented on #110
@WildcardSearch - I reinstalled my Google Chrome and deactivated all plugins - the issue remains. Anyway it only occurs in "NEW REPLY". In quick reply works fine!
Feel free to close this issue, it seems to be solved.

[2016-12-31 14:31] WildcardSearch opened #115 "Add Class To Mention HTML"
https://community.mybb.com/thread-206710-post-1257925.html#pid1257925

[2016-12-31 14:39] WildcardSearch commented on #110
Okay, I have finally been able to reproduce it.

In Chrome 55 in `newreply.php` in SCEditor mode I see the caret return to the editor and then disappear.

Thanks for the report, I'll see what I can do.

[2016-12-31 14:52] WildcardSearch commented on #113
Thank you.

It is currently 5px. What do you think 2,3?

Yes I know. It has been very difficult to get the popup to size exactly because it is done internally and each editor inherits different style info from the container it is in. I will work on it.

No, I didn't. Will get that done.

Are you saying to reduce the padding around the avatar so it is closer to the sides of the `div` or simply make

[2016-12-31 19:58] WildcardSearch commented on #110
@Cu8eeeR, That works for me in FF and Chrome. If you have time to test, I'd appreciate it.

[2016-12-31 21:46] #115 closed

[2016-12-31 21:46] #114 closed

[2016-12-31 21:47] #112 closed

[2016-12-31 21:47] #111 closed

[2016-12-31 21:48] #49 closed

[2016-12-31 21:48] #55 closed

[2016-12-31 21:48] #80 closed

[2016-12-31 21:48] #81 closed

[2016-12-31 21:48] #84 closed

[2016-12-31 21:48] #89 closed

[2016-12-31 21:48] #102 closed

[2016-12-31 21:48] #104 closed

[2016-12-31 21:48] #105 closed

[2016-12-31 21:48] #106 closed

[2016-12-31 23:52] WildcardSearch opened #116 "Autocomplete: Avatar Used To Compute Width Even When Setting Is Off"
Checks need to be put in place to only size with the avatar if the option is allowed.

[2017-01-01 01:07] WildcardSearch opened #117 "Settings: Add Peekers"
Twelve settings total now and quite a few of them depend on the value of other settings to have any effect.

[2017-01-01 01:52] #116 closed

[2017-01-01 02:02] WildcardSearch opened #118 "Retrieve MyAlerts Integration Status Without A Query"
https://community.mybb.com/thread-206710-post-1256434.html#pid1256434

[2017-01-01 02:15] #118 closed

[2017-01-01 03:05] WildcardSearch opened #119 "JavaScript Error If Certain Settings Are Left Blank"
Currently `MentionMe.autocomplete.setup` is fed values unquoted. If these settings are left blank, the JavaScript and consequently, the autocomplete, will fail.

[2017-01-01 03:52] #119 closed

[2017-01-01 06:14] DrTheOne opened #120 "Avatar infront of member name"
Is it possible to add small avatar of member infront of member name?
Is it possible that avatar size is adjust according to text size?

[2017-01-01 11:27] Cu8eeeR commented on #120
Another query... anyway why is it useful, any specific reason?

[2017-01-01 11:29] Cu8eeeR commented on #118
Nice, another improvement :)

[2017-01-01 11:31] Cu8eeeR commented on #110
I will ASAP (in 2-3 hours).

[2017-01-01 11:34] Cu8eeeR commented on #113
2px would be enough

It is a small thing :)

Ok, what about make the font smaller (for the usernames) and make smaller padding to safe some space (or make avatr image bigger)

I know, everybody can adjust size easily via CSS, so just make one universal default style

[2017-01-01 12:19] Cu8eeeR commented on #110
Works fine on 2 of 3 PCs where I use Google Chrome. So it seems to be fixed, feel free to close this. Thank you

[2017-01-01 12:20] #110 closed

[2017-01-01 12:21] Cu8eeeR commented on #84
@WildcardSearch - works fine, tested with Rin editor v0.7.4

[2017-01-01 15:20] WildcardSearch commented on #84
Thanks 😄

[2017-01-01 15:20] WildcardSearch commented on #110
Thank you. I believe part of the problem is SCEditor bugs.

[2017-01-01 15:23] WildcardSearch commented on #113
I went with 3px of the shadow, I think that was a good suggestion. It looks cleaner. At 2px is was a little understated, though.

Yes, I have tested with avatars as small as 10px and as large as 50px and everything still looks pretty good and works as expected.

[2017-01-01 15:38] WildcardSearch commented on #120
I can see it from a design perspective, but when you make a mock-up, it begins to become evident that at the average font size, the avatar would be too small to even appreciate:

![Mention With Avatar Mockup](http://i.imgur.com/2OJfPMQ.png)

Also, their is the issue of styling and sizing the avatar. Mention links are necessarily hardcoded. Necessarily because I depend on the markup to find mention

[2017-01-01 15:57] WildcardSearch opened #121 "Autocomplete: CKEditor - Clicking Outside Does Not Dismiss Popup"
In the other two implementations, behavior is as expected, but when testing with Rin 0.74, I can click anywhere else in the window without dismissing the popup.

[2017-01-01 16:16] #121 closed

[2017-01-01 16:21] DrTheOne commented on #120
Ok bro. Its your mastery and judgement for it. Without it also its best of the best plugin.
Thank you.

[2017-01-01 16:25] WildcardSearch commented on #120
You're welcome. Thank you for using my plugins and giving me feedback.

[2017-01-01 16:25] #120 closed

[2017-01-01 16:27] WildcardSearch opened #122 "Settings: Cache Time Shouldn't Be Hidden By The Autocomplete Peeker"
That setting is used globally and its visibility should not be controlled by any other setting.

[2017-01-01 16:52] Cu8eeeR commented on #121
Good catch!

[2017-01-01 17:03] WildcardSearch commented on #121
I'm glad I noticed it! 😄

[2017-01-01 17:04] WildcardSearch opened #123 "Upgrade: Some Stray Files Left Behind"
`installer.php`

[2017-01-01 17:07] Cu8eeeR commented on #113
Good to hear that :)

For design changes:
mentionme_popup
- border: 2px solid #ddd;
- border-radius: change from 4px do 3px (follow MyBB theme)
img.mention_user_avatar
- margin: 2px 10px 2px 5px; (changed right margin from 5px to 10px -> looks better)
- width and height of avatar: try 30px instead of 25px
mentiome_popup_item
- padding: 2px 3px 2px 3px (top and bottom padding lowered by 3px

![popu

[2017-01-01 17:11] #123 closed

[2017-01-01 17:44] WildcardSearch commented on #113
Okay thanks. I'll give it a shot after I figure out this style sheet issue.

[2017-01-01 17:45] WildcardSearch opened #124 "Upgrade: Style Sheet Not Updated"
When upgrading from 3.0.4, the style sheet does not get updated.

[2017-01-01 17:48] #124 closed

[2017-01-01 18:22] Cu8eeeR commented on #113
I am going to try right now :)

[2017-01-01 18:23] WildcardSearch commented on #113
Great! I am going to be getting started on change logs and release docs.

[2017-01-01 18:46] WildcardSearch commented on #113
I already did that: https://github.com/WildcardSearch/MentionMe/blob/8621b8fdec6570dd3196d82eba6a7abcfe522810/Upload/inc/plugins/MentionMe/install_data.php#L233-L234

I'll look at it. That might make problems for my sizing algorithms...

Okay sounds easy.

[2017-01-01 19:00] WildcardSearch commented on #113
I took a look and the minimum width of the popup is managed internally by the JavaScript object. Placing `min-width` restrictions on the popup causes the hidden scroll bars to malfunction (by not being hidden).

Maybe that is something I could take a look at later, but this close to release, I think I will let it ride.

[2017-01-01 19:08] #113 closed

[2017-01-01 19:11] Cu8eeeR commented on #113
@WildcardSearch - OK, just please open a new ticket for this :) If anything I will contact you.

I have an idea, I will try to adjust the code for this in my free time :)

[2017-01-01 19:16] WildcardSearch commented on #113
Okay

[2017-01-01 21:06] WildcardSearch opened #126 "Install: NULL Values Cannot Be Used in STRICT Mode"
Settings with `NULL` sid values cause errors when STRICT mode is enabled.

[2017-01-07 22:39] WildcardSearch opened #127 "Autocomplete: Issues With CloudFlare and CDN Users"
...at least that's what I suspect. Doing a little testing here.

[2017-01-14 15:14] WildcardSearch opened #128 "Mention Detection: Improve Regex"
The regex has been modified over time to try to find the best common ground, but I believe there is still room for improvement. I plan to create test cases and get MentionMe to recognize as many names as possible.

Brought to my attention [here](https://community.mybb.com/thread-207401-post-1259649.html#pid1259649)

[2017-02-12 21:39] WildcardSearch opened #130 "Name Cache: Don't Cache Banned Users"
Currently, the only criteria for caching user info is that they have been online in the last `$mybb->settings['mention_cache_time']` days. In an active forum, a lot of space will be wasted by caching the names of spammers.

[2017-02-13 19:08] Cu8eeeR commented on #66
@WildcardSearch - hi! any progress? I really miss this feature :/ (a lot of users complains about it after my board switched from automention to mentionme). They used to mentions in quick reply pretty often.

[2017-02-13 19:12] Eldenroot opened #131 "Popup: No Fallback for Broken Avatars"
When a user uses remote avatar and it is broken - does mentionme use default avatar instead or just will show broken image?

[2017-02-14 00:50] WildcardSearch commented on #131
I'll have to look at the code to be certain, but I'm pretty sure that it would fall back to the `<img/>` alt tag.

[2017-02-14 00:52] WildcardSearch commented on #66
I really haven't started on it yet. I have my hands full supporting my plugins, and I am in the process of upgrading my forum (and all its modifications) to 1.8.

As soon as things settle down, I'll get back into the code as there are several improvements I'd like to make.

Thanks for your patience.

[2017-02-14 15:23] Cu8eeeR commented on #131
OK, so it will show default mybb avatar. I cannot try it right now, if I get a chance I will try and let you know.

[2017-02-14 15:24] Cu8eeeR commented on #66
@WildcardSearch - thats fine, I will be waiting... last missing feature to make this plugin superior :)

[2017-02-14 20:23] Cu8eeeR opened #132 "CSS issue when you move between names with arrows (up/down)"
As title says - no issue on mouse hover, but with arrows the padding of active item is changed a little bit.

[2017-02-14 20:48] Eldenroot opened #133 "Design improvements"
Here is a summary of my ideas (I will add more when I get time):
1) add padding-left for non matching inputs
![1](https://cloud.githubusercontent.com/assets/778890/22947974/2842bbce-f2fd-11e6-8097-4b68a286412a.png)
2) change font-size from 16->15 px (input and popup window)
3) min-width - I know, you wrote that it is handled by JS, anyway if you can add min-width for the popup body would be nice (

[2017-02-14 20:55] Cu8eeeR opened #134 "No popup window is triggered when multiple mentions button is used (quick reply)"
No popup window is triggered when multiple mentions button is used (quick reply). Users are added but you cannot use "@" for adding more users after that. Only hard refresh helps.

(CKeditor - rin editor)

[2017-02-14 22:31] WildcardSearch commented on #134
Thanks for the report. I will take a look as soon as my schedule comes back to this plugin.

[2017-02-14 22:33] WildcardSearch commented on #133
I'll get those changes made and give it a look when I have time.

Thanks for your time.

[2017-02-14 22:34] WildcardSearch commented on #132
Thanks for the report.

[2017-02-14 22:37] WildcardSearch commented on #66
It is certainly going to happen. I am just long overdue to work on my forum. It is still on MyBB 1.6! I am obligated to get things straight with my own site (which was a big motivation to get all my plugins updated to 1.8)

[2017-02-14 22:39] WildcardSearch commented on #131
No, you misunderstand me. I am saying that it would not show any image. It would show whatever the contents of that avatar image's `alt` tag:

[code]

[2017-02-16 06:12] Cu8eeeR commented on #66
@WildcardSearch - yeah, thats fine, I understand you. It is a hobby :)

[2017-02-16 15:49] Cu8eeeR commented on #131
It would be maybe better to add a fallback -> show default avatar when the user's custom avatar is not available

[2017-02-16 23:56] WildcardSearch commented on #131
Yes, I guess you are right. I hadn't considered that.

It really should be built into the MyBB core to always defer to the default avatar!

I'll just edit this issue.

[2017-02-17 11:53] Cu8eeeR commented on #131
@WildcardSearch - I agree, thats something what should be added, at least into MyBB v2.0.0

[2017-02-20 04:23] AutoJunkie79 opened #135 "SQL Error on Install/Activate"
MyBB 1.8.10
PHP 7.1.1
MySQL 5.7.17

Hello, getting the following SQL error when attempting to install & activate:

<img width="613" alt="screen shot 2017-02-19 at 11 11 39 pm" src="https://cloud.githubusercontent.com/assets/25411186/23111963/4f5fa824-f6fa-11e6-947e-d3e6149f43b4.png">

Thanks

[2017-02-20 12:18] WildcardSearch commented on #135
Thanks for the report.

[2017-03-03 21:48] WildcardSearch opened #137 "Relative URLs In Mentions Fail In Some Cases"
Original reported here: https://github.com/WildcardSearch/MentionMe/pull/136

[2017-03-05 03:46] sicut opened #138 "Partially breaking the ACP plugin table view"
Hey,
thanks for the great plugin!

After upgrading our board from 1.8.5 to 1.8.10 we encountered a lot of weird problems with this plugin.
Just fyi, since that is fixed now: The autocomplete function added a permanent empty avatar and some more empty lines below the Quick Reply field. A temporary workaround was to deactivate that feature.
A full fix was not just to deactivate and reactivate the pl

[2017-03-05 10:29] Cu8eeeR opened #139 "Avatars broken (wrongly assigned)"
Latest maintenance version - avatars are assigned wrongly, here is the screenshot:
![1](https://cloud.githubusercontent.com/assets/778890/23586508/ce42d3a4-0196-11e7-8c6e-ea800a06b163.png)

The "green" avatar with cat should be linked to Eldenroot; the image with hearth belongs to Indil-Elda etc.
I use Rin editor from martec; mentionme settings - full text search enabled, thread contributors enabl

[2017-03-05 13:31] #137 closed

[2017-03-05 13:33] WildcardSearch commented on #139
Thanks for the report. I'll take a look when I can.

[2017-03-05 13:35] WildcardSearch commented on #138
What plugin are you using to add those extra columns?

[2017-03-06 02:39] sicut commented on #138
Hey,
~~nothing that I know of, isnt that a standard feature?~~
lol, sorry, since we have three forums and those columns have been there since forever, I totally took them for granted.
It's the [Plugin Uploader Plugin](https://github.com/MattRogowski/Plugin-Uploader). It creates those additional columns for deleting or reimporting/updating a plugin.

[2017-03-06 13:04] Cu8eeeR commented on #139
It is really weird, sometime works fine and avatars are assigned correctly but most of the time assigns badly.

For now I had to disable avatars showing in the popup box, I am looking for a new version :) I know that you are busy so no rush

[2017-03-07 00:57] WildcardSearch commented on #139
I honestly haven't even had a chance to look at MentionMe yet. I am trying though.

In testing, all of my fake users had random avatars so I can believe that the bug slipped by me. I'm sure when I get a chance to view the code I will find my mistake.

Sorry for the inconvenience 😢

[2017-03-07 00:59] WildcardSearch commented on #138
Okay, that gives me something to go on. I'll install Plugin Uploader on one of my test boards and see if I can locate the problem. I'll @sicut mention you when I have a chance to check it out.

Sorry you are having problems.

[2017-03-07 23:17] sicut commented on #138
Np, your plugin is greatly loved by our users and that "bug" is extremely minor!
Thanks again for your work!

[2017-03-08 01:10] WildcardSearch commented on #138
@sicut having had a chance to check things out, I can see the that the issue is with the way Plugin Uploader adds the extra columns in ACP -> Configuration -> Plugins

It is using JavaScript to append the columns and the selectors used target tables. All of my plugins use tables within the plugin information and, as I discovered in testing, all break the display when used with Plugin Uploader. At

[2017-03-20 12:42] burnacid commented on #139
I've seen the same thing. I've taken a look if I can pinpoint the error. The XMLHTTP request returns the avatar with the correct user. Yet it is displayed wrong.

So the server returns the correct data

[2017-03-20 23:04] WildcardSearch commented on #139
Thanks for the reports, unfortunately I still don't have time to look at the code. As soon as I free up some time I will give it a look.

[2017-03-25 21:40] WhiteNeo opened #141 "Add abillity to use modals on mentions."
Well i have asked for @Eldenroot to do this and i have worked onto it, so i have added onto my avatars plugin a bridge to use with another mods, in this case is tested with MentionMe and DVZ Mentions.

I have tested on both yours and mine Mentions plugins, and i review DVZ Mentions and can be glitched.

The way to use it and versión of my plugin is 2.9.2 with the core changes to work, if you can t

[2017-03-25 21:41] WildcardSearch commented on #138
@sicut, I haven't heard back from you. Were you ever able to get a solution?

[2017-03-25 21:51] WildcardSearch commented on #141
Hi @WhiteNeo,

I think some other users have requested this in the past, so perhaps it is worth thinking about. I'm not sure I understand clearly everything you just posted, though. The code find and replace you posted features code that isn't in MentionMe (or at least not exactly) so I don't know how to test.

If you could send a PR, I will gladly pull it and do some testing.

Thanks for contribu

[2017-03-25 21:55] WildcardSearch commented on #127
I've been given the opinion from several experienced developers that this is an issue with particular web hosting settings, and not an error with the plugin. Nevertheless, I'm leaving this open for the moment.

[2017-03-25 22:23] WildcardSearch commented on #139
@Cu8eeeR can you give me steps to reproduce this?

![MentionMe Popup](http://i.imgur.com/vyGcjmt.png)

[2017-03-25 22:25] WildcardSearch commented on #135
@AutoJunkie79 what version of MentionMe are you using?

[2017-03-25 22:28] WildcardSearch commented on #134
What popup window are you talking about? I just took a look and everything seems to working correctly.

[2017-03-25 22:56] WildcardSearch commented on #135
Never mind. This is a `duplicate` of #126

[2017-03-25 22:56] #135 closed

[2017-03-25 23:00] WildcardSearch commented on #133
1. I'm not sure I understand what you mean.
2. Done.
3. Done.
4. Done.
5. Done.
6. Done.
7. I tried this and it clipped the bottom of the last avatar.

Keep in mind that you can edit the style sheet in ACP and adjust anything you like for every theme. 😄

[2017-03-25 23:23] WhiteNeo commented on #141
I have released my latest avatars version:

https://github.com/WhiteNeo/lastposter-avatar-mybb18x-series

So i have added a function to load with MentionMe and others plugins as an
extension.

We need both plugins avatars and mentionme.

And we need to add that core changes to your Mention plugin to loads the
function.

Then we need to configure modalas at your own on avatars, at this point we
hav

[2017-03-25 23:33] WhiteNeo commented on #141
Ok the video was rendered.

https://mega.nz/#!GgJCSbjQ!1WR8MSq9cu5cbUle9BVS6j6zSML8WC-5ggeLUW8EP2s

This is what i meant :)

2017-03-25 17:23 GMT-06:00 Leon Kenedy <neogeoman@gmail.com>:

[2017-03-26 09:07] Cu8eeeR commented on #133
Thank you!

1) I mean "id" in the dropdown menu - it is too close to he left border of that window, so add a small space before the "id" would be nice

[2017-03-26 09:08] Cu8eeeR commented on #141
This is really nice addition, after you click on the mentioned username -> popup is shown (with the most important information) instead of member profile.

[2017-03-26 09:09] Cu8eeeR commented on #139
@WildcardSearch - did you tried with CKeditor (Rin editor) from @martec? I can set a testing account for you on my live board. Let me know

[2017-03-26 09:22] Cu8eeeR commented on #134
OK, here are steps how to reproduce:
1) in ACP activate: Add a postbit button + Multiple mentions
2) mention at least two posts in one thread
3) in quick reply window click on "Mentions these users now"
4) mentioned usernames are added, BUT if you wanna add more with "@" - popup dropdown menu is not shown and opened (it is not tirggered).

This only happens when you enable Multiple mentions in ACP

[2017-03-26 09:29] Cu8eeeR commented on #138
I had same issue on MyBB 1.6 (MentionMe + Plugin Uploader from Matt). However now on MyBB 1.8 works without any issue

[2017-03-26 10:24] Cu8eeeR commented on #133
I am enclosing screenshots:
1) Space before the text:
![space before](https://cloud.githubusercontent.com/assets/778890/24330472/3284530e-121f-11e7-9cbd-0a3890ccaf5f.png)

**new request/idea:**
If we cannot use min-width of the dropdown window, we should add a small space after the end of the username
![spacafter](https://cloud.githubusercontent.com/assets/778890/24330462/f0781856-121e-11e7-9298-9

[2017-03-26 10:37] Cu8eeeR opened #142 "Add a new settings - open mentioned users in a new tab"
Related to #141

For admins who dont use popup userprofiles, we should have an option to open mentioned users in a new tab instead of in existing window.

[2017-03-26 11:12] sicut commented on #138
@WildcardSearch Sorry, no, the problem is still there. We tried some different reactivation sequences, but no luck. Since it doesnt seem to happen for everyone (eg @Cu8eeeR ), it could be connected to something else as well.
But it is such a tiny minor issue, everything else is still working flawlessly :)

[2017-03-26 11:35] Cu8eeeR opened #143 "Custom Language Files Are Not Loaded"
Hi, just a question before I will try another approach and try to find any other issue with my board. Are the lang files for frontend working fine for you? Only the English lang is used for all users on my board, my lang file is not loaded.

[2017-03-26 13:22] WildcardSearch commented on #143
They are working fine on my end. There are only nine language variables for the front-end.

Where are you experiencing missing language strings?

[2017-03-26 13:23] WildcardSearch commented on #138
It seems to be an incompatibility with one or more other plugins. I'm sorry that you are having problems.

[2017-03-26 13:25] WildcardSearch commented on #142
So you are asking for a new setting that, when set to YES will add `target="_blank"` to the mention anchor link?

[2017-03-26 13:26] WildcardSearch commented on #133
Thanks for the explanations. I'll look at this later today.

[2017-03-26 13:27] WildcardSearch commented on #134
Oh okay! I was lost.

Give me a little bit to get back to this. I'm trying to get as much done today as possible before I go back to work tomorrow.

[2017-03-26 13:29] WildcardSearch commented on #139
I'm so sorry. I forgot that you said Rin editor. I'll test again.

[2017-03-26 15:16] Cu8eeeR commented on #143
I use my own lang file (Czech language). However MentionMe still uses English default original lang file, no way how to load my own translation. Others plugins work fine, so I will try to find what is wrong.

[2017-03-26 15:16] Cu8eeeR commented on #142
Yes, exactly!

[2017-03-26 16:05] Cu8eeeR commented on #143
Ok, so others than English language files (translations) are not loaded. Your English original lang pack is loaded always. :(

[2017-03-26 16:17] WhiteNeo commented on #141
Yes and works with both events mouseover and onclick as video shows, and
all is taken by a modal mox inside a template wich is completelly template
to edit at your owns with all the fields on profile, usually ones at least,
all the memprofile array. But it can add userfields and more with
globalization of userfields var, so it is a high extension and usefull
addittion, but you can choose if you wa

[2017-03-26 16:27] WildcardSearch commented on #141
I'll give this some thought. For now I'm just going to focus on the bugs and getting 3.1.1 released.

[2017-03-26 16:29] WildcardSearch commented on #143
There are no translations for me to test with: https://community.mybb.com/mods.php?action=alltranslations&pid=885

[2017-03-26 16:32] Cu8eeeR commented on #143
I use only this for front-end (Czech language)
`<?php
/*
 * Plugin Name: MentionMe for MyBB 1.8.x
 * Copyright 2014 WildcardSearch
 * http://www.rantcentralforums.com
 *
 * this file contains language definitions for MentionMe (English)
 */

$l['mention'] = 'zmínit';

// task
$l['mention_task_success'] = 'The MentionMe name cache task ran successfully. Going back {1} days, {2} users were stored at

[2017-03-26 16:32] WildcardSearch commented on #142
That can be arranged.

[2017-03-26 17:06] WildcardSearch commented on #143
After some testing I see that it is definitely a bug in MentionMe. The language is being loaded in `mentionMeInitialize` before the board language is established and therefore it always falls back to the default board language (which is english hard coded).

[thread title edited]

[2017-03-28 23:12] WildcardSearch commented on #143
That should have it fixed, @Cu8eeeR. If you have time to test I'd appreciate it.

[2017-03-28 23:33] WildcardSearch commented on #142
Hi @Cu8eeeR, I added the setting, no problems, but when I actually went to test it, I remembered that mention links always go to a new tab in Firefox and Chrome.

Is it that you have your browser set up differently?

[2017-03-30 17:11] Cu8eeeR commented on #143
@WildcardSearch - I am sorry, I will test it tommorow.

[2017-03-30 20:18] WildcardSearch commented on #143
Don't be sorry, friend. I appreciate all of your help.

P.S. I haven't even looked at the code in two days...SO busy...

[2017-04-01 12:23] Cu8eeeR commented on #142
@WildcardSearch - I am sorry, you are right (DVZ mention plugin opens the links in the same tab; mentionme in the new tab). Anyway would be nice to have it?

[2017-04-01 12:29] Cu8eeeR commented on #143
@WildcardSearch - yes, your fix works fine! Custom language translations are loaded properly, thank you!

[2017-04-01 12:29] #143 closed

[2017-04-03 18:57] Cu8eeeR commented on #141
Works fine :) really nice addition ;)

[2017-04-04 03:27] WildcardSearch commented on #142
To have what? A setting? If so, do you yes for `target="_blank"` and no to force `target="_self"`?

[2017-04-06 16:22] Cu8eeeR commented on #142
Yes, to have a setting :)

[2017-04-07 20:39] WildcardSearch commented on #142
Okay, I'll get to it whenever I actually have some time.

[2017-04-09 18:52] Cu8eeeR commented on #142
Thank you, I will be waiting for the next release ;)

[2017-04-13 15:27] Cu8eeeR commented on #139
@WildcardSearch - hi, any progress? I would like to use this feature :)

[2017-04-13 15:33] Cu8eeeR opened #145 "Hide "@" after user is mentioned"
Hi,

is possible to hide "@" symbol after you mention the user? So it will add link to the username and hide the "prefix - @" after you post the post. Something like DVZ mentions plugin offer (https://community.mybb.com/mods.php?action=view&pid=29).

Just an idea, not sure how difficult is that to implement

[2017-04-13 15:53] Cu8eeeR commented on #134
OK, it happens also when you only hit the mention button (multiple mentions is disabled)

[2017-04-13 15:57] Cu8eeeR commented on #142
@WildcardSearch - I use Google Chrome and the links are opened in the same tab, not in the new tab (latest maintance version)

[2017-04-13 16:37] Cu8eeeR commented on #141
This would be better as a standalone mod - just profile popup windows

[2017-04-13 21:03] WildcardSearch commented on #142
Good info.

I finally got some time off! :D Twenty-five days straight at work, but I am getting a three day weekend. Ready to try to get some things done!

[2017-04-13 21:04] WildcardSearch commented on #134
Thanks for the details. I'm gonna rest tonight, but in the morning I'm going to try to get into gear and get some things done.

[2017-04-13 21:06] WildcardSearch commented on #145
@Cu8eeeR, we added that in 3.1. See #102

[2017-04-13 21:08] WildcardSearch commented on #139
As you know, I haven't had much time to work on MentionMe, but in the tests I ran, I was unable to reproduce the issue. I create test users like so: Testuser1, Testuser2, Testuser3... each have an avatar with the corresponding number as an image, ie: 1, 2, 3...

When using the autocomplete feature, they were consistently assigned the correct avatar.

I followed your steps to reproduce the error, b

[2017-04-14 06:43] Cu8eeeR commented on #145
Sorry, my fault :(

[2017-04-14 06:43] #145 closed

[2017-04-14 06:44] Cu8eeeR commented on #139
OK, I can send you username and pw for testing on my live board via PM (MyBB community forum).

It must be related to editor because it happens all the time, some of the avatars are not loaded at all and the default image is shown instead).

[2017-04-14 06:56] Cu8eeeR opened #146 "Retrieve Thread Participants"
OK, I am not sure if it is related to Rin editor or it is fine, but when the thread has less then 5 contributors, the dropdown menu shows every time 5 items.

For example:
4 thread contributors: User1; User2; User3, User4
1) open dropdown menu by "@"
2) you will see 5 users: User1, User2, User3, User4 and the User5 (User5 has no posts in the thread, only the last registered)
3) User5 is the last r

[2017-04-14 06:58] Cu8eeeR commented on #139
Another maybe related bug:
- some user avatars are not shown in the dropdown menu (the default one is shown instead). With automention from martec are shown correctly. I have send you PM

[2017-05-04 20:22] sdprovider77 opened #148 "1366 - Incorrect integer value: 'NULL' for column 'sid' at row 1"
Hello to everybody !
Could someone kindly help me? I'm trying to install MentionMe about ACP and when i click 'install' this is the error of mysql :

Please could someone help me ?

Thank you very much !

[2017-05-22 11:10] WildcardSearch commented on #148
Thanks for the report. I'll have a look asap

[2017-07-19 10:06] chope1 commented on #148
Still getting the same error on Installation.

`MyBB has experienced an internal SQL error and cannot continue.

SQL Error:
1366 - Incorrect integer value: 'NULL' for column 'sid' at row 1
Query:
INSERT INTO mybb_settings (`sid`,`name`,`title`,`description`,`optionscode`,`value`,`disporder`,`gid`) VALUES ('NULL','mention_auto_complete','Auto-Complete Mentions?','YES (default) to autocomplete menti

[2017-08-09 02:25] WildcardSearch commented on #148
Sorry, I haven't had much time to maintian my MyBB plugins lately. The error is caused by the values in inc/plugins/MentionMe/install_data.php for the `SID` field. Changing them to the number `0` rather than `'NULL'` or whatever they are currently will solve the issue.

[2017-08-12 13:45] WildcardSearch commented on #146
Trying to catch up here. The behavior you describe is expected. The number of entries in the popup is determined by a setting in ACP-- regardless of the participation in a specific thread. Remember, thread participants are prioritized into the list, but are only a fraction of the available name cache.

[2017-08-12 13:48] WildcardSearch commented on #141
I have to agree. @WhiteNeo I think given my schedule, this shouldn't be included in the plugin core. Perhaps you could release it independently...

[2017-08-12 13:48] #141 closed

[2017-09-12 21:10] WildcardSearch commented on #146
@Cu8eeeR since you've not responded I'm going to close this. The behavior you describe is intended.

[2017-09-12 21:10] #146 closed

[2017-09-12 21:13] WildcardSearch commented on #138
@sicut I'm going to close this as it is really an error with @MattRogowski 's plugin.

[2017-09-12 21:13] #138 closed

[2017-09-12 21:18] WildcardSearch commented on #127
This issue has been open for months without any further information. I cannot reproduce the bug and neither can several other users who have CDN/Cloudfare running on their forums.

Therefore, I will close this.

[2017-09-12 21:18] #127 closed

[2017-09-13 00:36] WildcardSearch commented on #134
I can't reproduce this issue, @Cu8eeeR -- I know this had been sitting here a long time, but my tests worked as expected.

[2017-09-13 00:39] WildcardSearch commented on #139
@Cu8eeeR in your experience with this issue, did you possibly have users with special characters/international alphabets in their user names?

[2017-09-13 00:41] WildcardSearch opened #149 "Task: Isn't Using mb_strtolower"
...using `strtolower` instead might be causing issues for users with special characters in their user names.

[2017-09-13 16:13] Cu8eeeR commented on #139
Issue is still there :( yes, many of users use special characters in their usernames (ť, ř ,š, č ,ž, ý, á, í, ě etc. - Czech language).

[2017-09-13 16:14] Cu8eeeR commented on #134
OK, I use CKeditor from @martec - I am not at home right now but the issues still persists according to the reports from users

[2017-09-13 16:15] Cu8eeeR commented on #131
MyBB 1.8.x supports default avatar for users in ACP (settings). It can be used as a fallback

[2017-09-13 17:11] WildcardSearch commented on #131
Cool.

I haven't made it to this yet, but I'm thinking of using a little JavaScript to replace any legitimately broken images (not empty field) with the default avatar-- other than that, there isn't too much I can do.

[2017-09-13 17:13] WildcardSearch commented on #134
Perhaps when I get caught up a little more, you would be so kind as to allow me another test account on your board? Perhaps it is because of template differences between your theme and the default-- or maybe I will at least see a JavaScript error that will lead me to the answer.

In any event, thanks for all your help.

[2017-09-13 17:14] WildcardSearch commented on #139
Okay, then I have found an issue where the name cache isn't using `mb_strtolower` that may be causing problems. When I get the next version released, I'd appreciate you giving it a try.

[2017-09-13 17:31] Cu8eeeR commented on #134
@WildcardSearch - of course I will, I will send you a PM - MyBB community board ASAP. Feel free to test it out :)

[2017-09-13 17:37] Cu8eeeR commented on #132
Can you confirm this issue?

[2017-09-13 17:40] Cu8eeeR opened #150 "Popup: Short Names May Not Be Properly Padded"
![bug1](https://user-images.githubusercontent.com/778890/30391908-6a52c9dc-98bb-11e7-837f-5e06538f7f43.png)

there should be any padding for short usernames (latest maintance version - 13.9.2017)

[2017-09-13 17:52] Cu8eeeR commented on #133
It is still bugged (latest version from the maintance branch with the fix above included; 13.9.2017)

![bug2](https://user-images.githubusercontent.com/778890/30392407-0e8f6216-98bd-11e7-9cff-90b8672eb96f.png)

[2017-09-13 17:59] Cu8eeeR commented on #139
@WildcardSearch - your fix doesnt solve this annoying bug - check this:

![bug3](https://user-images.githubusercontent.com/778890/30392746-fbe84546-98bd-11e7-9171-17ea17accdce.png)

P.S. latest maintenance version :(

[2017-09-13 18:03] Cu8eeeR commented on #142
Tested, works fine, thank you!

[2017-09-13 18:03] #142 closed

[2017-09-13 18:13] Cu8eeeR commented on #139
Another try, different result...
![bug4](https://user-images.githubusercontent.com/778890/30393330-ff892a56-98bf-11e7-9b2a-31e2cb01ad69.png)

[2017-09-13 18:24] Cu8eeeR opened #151 "Autocomplete: Popup Misaligned When Cursor Is Beyond First 'Page'"
Rin editor + latest maintenance version (13.9.2017) - > go to the full edit of your post and type "@", popup menu is misaligned (Google Chrome) + (again, check the usernames and avatars -> they are again assigned randomly, #139 )

![bug7](https://user-images.githubusercontent.com/778890/30393831-948169d8-98c1-11e7-892f-c76c65193cce.png)

[2017-09-13 21:07] WildcardSearch commented on #151
I need to update my copy of Rin Editor and do some testing. Thanks again.

[2017-09-13 21:07] WildcardSearch commented on #139
😢

[2017-09-13 21:09] WildcardSearch commented on #142
😄

[2017-09-13 21:10] WildcardSearch commented on #133
Working on it. Can you paste that circled name into a comment so that I can test with it (my keyboard doesn't have that key lol)

[2017-09-13 21:11] WildcardSearch commented on #150
Are you pointing out that on the right side the name has no padding?

[2017-09-13 21:13] WildcardSearch commented on #132
I haven't yet, but I will get to it soon. I think I remember that when scrolling with the keyboard there it was a little jumpy at times...I *think*

[2017-09-13 21:43] WildcardSearch commented on #134
PM Received. Thanks

[2017-09-13 22:14] WildcardSearch commented on #134
Thankfully I have reproduced the error...finally!

I have begun debugging and we will see how that goes. Honestly, at first look, I see obvious issues with the way the insertion is handled. In any case, I have determined that after using the multi-mention insert, the popup's observation of keypress is lost.

[2017-09-14 09:01] Cu8eeeR commented on #150
Yes, exactly... :)

[2017-09-14 09:02] Cu8eeeR commented on #134
Yes, thats it.. after using multimention the "@" doenst trigger the popup window, you have to hard refresh your browser to get it working again.

[2017-09-14 09:04] Cu8eeeR commented on #133
@WildcardSearch - of course :) Here they are: "šmoula" and "peťul"

[2017-09-14 09:06] Cu8eeeR commented on #151
I use latest version on my board (feel free to test it).

[2017-09-14 11:17] WildcardSearch commented on #133
Thank you

[2017-09-14 11:18] WildcardSearch commented on #134
That fixes the problem for me. If you have time to test the update, I'd appreciate it.

[2017-09-14 11:19] WildcardSearch commented on #150
Thanks for the report. I'll look at it this evening.

[2017-09-14 16:40] Cu8eeeR commented on #134
Tested, works fine! Good job!

[2017-09-14 16:40] #134 closed

[2017-09-14 16:43] WildcardSearch commented on #134
Thank you.

[2017-09-16 14:25] #130 closed

[2017-09-16 14:25] #148 closed

[2017-09-16 14:25] #149 closed

[2017-09-16 15:28] WildcardSearch commented on #151
@Cu8eeeR I can't reproduce that error with Chrome 61-- what version are you using?

![screen shot](https://i.imgur.com/i0n9g9I.png)

[2017-09-16 16:14] WildcardSearch commented on #150
@Cu8eeeR In my tests, these changes solve the issue. To test you'll have to manually insert `min-width: 120px;` into mentionme.css line 5-- simply updating the files won't work because the upgrade script depends upon the version to be incremented to deploy and I don't change that until immediately prior to release.

[2017-09-16 17:45] WildcardSearch opened #153 "Autocomplete: inputHeight Declared Twice in JavaScript"

[2017-09-16 17:51] WildcardSearch opened #154 "Autocomplete: Unused Variable Cleanup"
This file needs a little cleanup as it still contains leftovers from previous versions.

[2017-09-16 17:52] WildcardSearch opened #155 "Autocomplete: Popup Scrolling Needlessly"
...in some cases.

[2017-09-16 17:59] WildcardSearch commented on #132
This fixes it for me.

[2017-09-16 18:11] Cu8eeeR commented on #132
I will try tommorow.,, thank you!

[2017-09-16 18:11] Cu8eeeR commented on #151
Please try to edit any post with a lot of text... .)

[2017-09-16 18:18] Cu8eeeR commented on #150
OK, works fine, thank you!

[2017-09-16 18:18] #150 closed

[2017-09-16 18:19] Cu8eeeR commented on #155
In my opinion it is needed :) at least on my board where we have many similar usernames, you can scroll in the popup window but the scrollbar is missing :(

[2017-09-16 18:23] WildcardSearch commented on #155
@Cu8eeeR I think you are misunderstanding this issue. This is about the autocomplete JavaScript attempting to scroll the item list when there are less than one page of items.

And the scroll bar has been hidden purposely in accordance with user requests for the finished look of the popup.

[2017-09-16 18:26] WildcardSearch commented on #151
Okay, will do.

I understand. Please be patient, I am still testing. It is a little harder for me because I don't know which name goes with each avatar so I have to check profiles.

[2017-09-16 18:27] WildcardSearch commented on #132
You're welcome 👍

[2017-09-16 18:44] WildcardSearch opened #156 "Autocomplete: JavaScript Cleanup"
Variable assignment needs a look as well as basic code maintenance.

[2017-09-16 19:32] WildcardSearch opened #157 "Autocomplete: getObjectKeys Unnecessary"
Previously added as a way to retrieve the current CKEditor instance, I am now aware of a better, cross-browser way to handle it without having to include backup definitions.

[2017-09-16 20:18] Cu8eeeR commented on #151
I am sorry, it was only a notice that the bug is not related only to my browser :( Keep good work, I am looking forward!

Works fine for "short" posts, but with a large amount of text the position of the popup window is bad :(

[2017-09-16 20:23] WildcardSearch commented on #151
I will try to see if I can sort that out. Meanwhile I have found another bug... '(

[2017-09-16 20:27] Cu8eeeR commented on #132
@WildcardSearch - now the moving between usernames with arrows works fine... anyway is possible to "disable the autoscrolling" in the list? I mean that the username is always shown as the first one in the menu. If it is on purpose, let it be :) I am sorry, but I dont know how to describe this better :(

[2017-09-16 20:39] WildcardSearch commented on #132
That could easily be made into a setting, but currently it is not possible. If you want to request that as a feature, create an issue and I will get around to it eventually.

[2017-09-16 20:46] Eldenroot opened #158 "Popup window - keyboard arrow scrolling through usernames"
As mentioned here: #132

Make possible to move between usernames with keyboard arrows (up/down) without showing the selected username always as the first one in the list.

[2017-09-16 20:47] Cu8eeeR commented on #132
OK, thank you, ticket created #158.

I am closing this one, tested, works fine, thank you!

[2017-09-16 20:47] #132 closed

[2017-09-16 20:48] Cu8eeeR commented on #131
JS solution would be great :)

![bug](https://user-images.githubusercontent.com/778890/30515907-20a23a3e-9b31-11e7-8532-26ea57971b82.png)

[2017-09-16 21:35] WildcardSearch commented on #132
You're welcome.

[2017-09-16 22:26] WildcardSearch commented on #151
Confirmed. I'll try to get this sorted today or tomorrow.

[2017-09-16 22:38] WildcardSearch commented on #151
This issue actually affects Quick Reply as well when using Rin Editor.

[2017-09-16 23:40] WildcardSearch commented on #151
This is caused by a bug in Caret.js, the third part library I am using for cursor positioning: https://github.com/ichord/Caret.js/issues/56

I'm going to have to come up with a workaround because the project appears to be dying/dead-- no updates in two years...

[2017-09-17 01:23] WildcardSearch commented on #151
This fixes the issue for me. Still testing to ensure that these changes don't break anything else.

[2017-09-17 07:44] Cu8eeeR commented on #151
@WildcardSearch - I updated my board to your latest maintenance release. Your commit fixes this issue partially - when you scroll during the full edit and use "@" to mention someone -> popup position is miss aligned :( Anyway if you dont scroll over the post, the position is OK (it was bugged before, now works fine). I think it is enough, works fine, thank you very much!

P.S. Here you can test it

[2017-09-17 13:59] WildcardSearch commented on #151
I'm sorry, but I'm having a hard tim understanding the problem that you are saying still exists. Can you give me simple steps to reproduce?

I appreciate it. Thanks for putting up with all the delays.

[2017-09-17 17:54] WildcardSearch opened #159 "Autocomplete: SCEditor - Popup Partially Hidden"
Depending on the size of the viewing area, if the cursor is far enough down the editor window, the popup will display partially in the editable content document with the rest of it hidden from sight by the parent page.

![MentionMe 3.1.1 - maintenance, MyBB 1.8.12, SCEditor default full edit](https://i.imgur.com/KtheD7z.png)

[2017-09-17 18:00] WildcardSearch opened #160 "Autocomplete: CKEditor - Quick Reply - Can't Trigger Popup After AJAX Posting"
With CKEditor installed and replacing Quick Reply, the popup works as is expected until the user posts, and then the popup can no longer be triggered by typing the `@` key.

[2017-09-17 18:59] Cu8eeeR commented on #160
Good catch!

[2017-09-17 19:05] Cu8eeeR commented on #151
I will try to make a video if I find any free time.

I will try to describe this issue again:
1) Go to -> New thread/new post/full edit
2) Press "@" -> popup menu is displayed (5 or more users needed)
3) Try to move in the list with usernames switch with keyboard arrows (down)
4) Selected username is always the first one in the list (on the top of the list). **It would be better to do not scroll (

[2017-09-17 19:11] WildcardSearch commented on #151
Oh, so you are just talking about #158 ?

[2017-09-17 19:12] WildcardSearch commented on #160
Yeah now I have to figure out what is wrong 👅

[2017-09-17 19:16] Cu8eeeR commented on #151
@WildcardSearch - I am so sorry, bad ticket (need to go sleep, it is 11PM here) :(

I will try to describe it again in the right ticket :)

[2017-09-17 19:17] Cu8eeeR commented on #158
OK, so just make it clear, here is the description:
I will try to describe this issue again:

1) Go to -> New thread/new post/full edit
2) Press "@" -> popup menu is displayed (5 or more users needed)
3) Try to move in the list with usernames switch with keyboard arrows (down)
4) Selected username is always the first one in the list (on the top of the list). It would be better to do not scroll (so

[2017-09-17 19:23] Cu8eeeR commented on #139
@WildcardSearch - uploaded your latest version on my board -> avatars are working correctly (so far so good, I will test more). However one more issue - sometime the avatar is doubled in the popup menu, see screenshot below (I typed "o", affected user: "šmoula"):
![bug](https://user-images.githubusercontent.com/778890/30524145-59f12f9e-9bee-11e7-8471-0dea4ff16ce3.png)

Anyway really great, awesome

[2017-09-17 20:43] WildcardSearch commented on #139
Thanks for the feedback. However, that is a separate issue. I'll consider this done.

I'm going to go ahead and release a maintenance version to get these fixes out to the other admins and then go back to work ironing out the rest of the bugs.

As soon as I can get the bugs worked out, I can start rewriting the autocomplete JavaScript so that it will work in Quick Edit...

[2017-09-17 20:44] WildcardSearch commented on #158
Thanks. I'll just have to look at the best way of providing that option for the next version.

[2017-09-17 20:58] #155 closed

[2017-09-17 20:58] #139 closed

[2017-09-17 20:58] #153 closed

[2017-09-17 20:58] #154 closed

[2017-09-17 20:58] #156 closed

[2017-09-17 20:58] #157 closed

[2017-09-17 20:58] #151 closed

[2017-09-18 17:17] Cu8eeeR opened #162 "Some usernames are doubled in the popup menu"
As I wrote here: https://github.com/WildcardSearch/MentionMe/issues/139 (latest 3.1.2 version)

Sometime the user is doubled in the popup menu, see screenshot below (I typed "o", affected user: "šmoula"):

![bug](https://user-images.githubusercontent.com/778890/30554781-f72c9480-9ca5-11e7-91eb-41f036fd6ab2.png)

EDIT: Only doubled when I type "o", not "š". Fulltext search is enabled.

[2017-09-18 17:18] Cu8eeeR commented on #139
Yes, I agree, good job!

Great!

[2017-09-18 21:04] WildcardSearch commented on #162
@Cu8eeeR can you do a little more research for me?

- try going to ACP -> Cache Manager and view `wildcard_plugins` cache-- see if there are multiple instances of the name `šmoula`
- try going to ACP -> Tools & Maintenance -> Task Manager and run the MentionMe Name Cache task from ACP-- if the first test showed multiple instances of `šmoula` then check again after running the task manually

[2017-09-19 14:38] Cu8eeeR commented on #162
-> ACP -> Cache Manager - I have two entries for "šmoula" and "smoula"

`[smoula] => Array
                        (
                            [uid] => 92
                            [username] => šmoula
                            [usergroup] => 6
                            [displaygroup] => 0
                            [additionalgroups] => 28,18
                            [ignorelist] =>

[2017-09-19 14:45] #162 closed

[2017-09-19 14:47] Eldenroot opened #163 "Add codename for easier update tracking"
As title says - MentionME codename should be "mention"

https://community.mybb.com/xmlbrowse.php?keywords=mentionme

[2017-09-19 14:51] Eldenroot opened #164 "Ability to mention the whole group of users?"
@WildcardSearch - just a question - is possible somehow (adding support) to mention the whole group of users? For example I wanna mention all of my moderators instead of writing all names separately. It seems to be really useful (you can check this feature here in GitHub). Anyway it would need a permission system and the way how to select which group to mention).

Just a idea, low priority (Quick

[2017-09-19 16:38] WildcardSearch commented on #164
It really sounds like a great idea. Immediate concerns would be:

- extra queries - afaik MyAlerts doesn't provide a way to insert multiple alerts at once (I need to look again to be sure) so that would mean x queries for every alerted member of the group.
- permissions - It wouldn't be good for users to be able to alert all staff (or all mods/smods/admins/etc) because the potential for abuse woul

[2017-09-19 16:40] WildcardSearch commented on #163
Great point. I've been meaning to get this done.

P.S. The `codename` for MentionMe is actually just `mention`

[2017-09-19 16:43] WildcardSearch commented on #162
Great. I had a hunch that there might be an issue with leftovers from the old name cache (from before we changed to `mb_strtolower`-- the old name cache was built with `strtolower` which converts special characters into standard character equivalents, ie. `š` -> `s`

Let me know if this bug resurfaces.

[2017-09-19 17:50] Cu8eeeR commented on #164
I agree with you, it would need a lot of changes and additions, but it could have a lot of cons. Maybe in MentionMe v3.3 😄 I think you mentioned everything in your post above.

For me, I am looking forward to Quick edit support, after that it will be perfect :)

[2017-09-19 19:31] Eldenroot commented on #163
Yes, I meant that :)

[2017-09-19 21:07] WildcardSearch commented on #164
You are certainly very welcome. Lets agree to table this for now and we can revisit once 3.2 is out and any bugs that spring up have been squashed.

[2017-09-19 21:29] WildcardSearch commented on #164
Let me just put this here while it is on my mind.

RE: Permissions - In the past (ASB), I have learned that administrators will always want more control over permissions. So to me that means that having two settings:

and

...would probably not make everyone happy. I foresee requests of being able to prevent a specific group from mentioned another specific group. Since MyBB has no sort of user-to-

[2017-09-20 14:36] Eldenroot commented on #164
My idea, have a "simple" settings for (as you wrote above):
- usergroups that can mention - select one or more / leave blank for all
- usergroups that can be mentioned - select one or more / leave blank for all
- ability to select specific forum/categories where you can use mention the whole usergroup available - select one or more/ leave blank for all

Yes, that would be better way but it could b

[2017-09-21 23:04] WildcardSearch opened #165 "Installation: SQL Error For Duplicate MayAlerts Setting Type"
Reported first by @darkneo, but the first time I could reproduce it was in this report: https://community.mybb.com/thread-206710-post-1284406.html#pid1284406

[2017-09-22 20:51] WildcardSearch opened #166 "PHP Warning When Name Cache Is Empty"
Reported here: https://community.mybb.com/thread-206710-post-1284679.html#pid1284679

[2017-09-23 17:53] #159 closed

[2017-09-23 17:53] #160 closed

[2017-09-23 17:53] #163 closed

[2017-09-23 17:53] #165 closed

[2017-09-23 17:53] #166 closed

[2017-09-25 17:11] Eldenroot commented on #133
Note: the last screenshot - it is because the list in the popup menu contains more than 5 usernames (there are more, but you have to scroll down within the list). Possibility to add small tiny elegant scrollbar or something to let users know that there are more usernames in the list?

[2017-09-25 21:23] WildcardSearch commented on #133
I'll be honest, my CSS/design skills aren't great, but I will take a look at it and see what I can come up with.

I'm actually going to see how the bug reports come in before I make any changes to MentionMe. If it seems largely bug-free then I feel it would be in our best interest to focus on shifting any further changes to 3.2

In that way I can start the JavaScript rewrite (which has the most po

[2017-09-26 14:54] Eldenroot commented on #133
Same here, there are few small CSS issues, mainly all reported here on GitHub, but I am not sure how to fix them or what would be the best solution. If anything you take check how "automention" plugin from martec looks like and take some idea from there (anyway both plugins are almost identical).

For me there are no known bugs (in v3.1.3) so far :)

I agree, would be really great go ahead and sta

[2017-09-26 21:10] WildcardSearch commented on #133
Okay, then we will agree that unless some big bugs appear that development on the 3.1.x series is closing.

Be forewarned, this might take a while so look for me to disappear into my cave for a while and then I will be back with some updates for testing.

We will leave this open and eventually when 3.2 is close, I'll try to work through the last few suggestions that haven't been implemented.

[2017-10-07 10:00] Eldenroot opened #168 "Issue with capital letter in usernames selected from the dropdown popup window"
There is a small issue with usernames which contains "capital letter".

For example: user "**C**hmura" has capital letter "**C**" at the beginning of his username.

When you type "@" and then first letter (normal "**c**" is used) "**c**" -> popup window is shown -> select "**Chmura**" but in the editor there is "**c**hmura" shown instead of "**C**hmura" with capital letter.

Anyway when you post t

[2017-10-07 12:51] WildcardSearch commented on #168
Thanks for the report.

Is there no issue when there are capital letters in the rest of the user name? Like `myUsername`?

[2017-10-07 12:53] Eldenroot commented on #168
In my opinion - when you select anything from the popup dropdown window, the content should be replaced with the selected username from the list completely, not just autocompleted

[2017-10-07 13:01] WildcardSearch commented on #168
Idon't understand what you mean-- can you rephrase:?

[2017-10-07 13:09] Eldenroot commented on #168
I am sorry, I will try to explain this issue in a better way.

1) type "@"and then for example "c" -> dropdown window is opened
2) there is a list of available username starting with the letter "c"
3) choose a user with the username beginning with capital "C" (in that case user "Chmura"), not the "normal"one
4) check out the output -> mentioned user is showed as "**c**hmura", not as "**C**hmura" i

[2017-10-07 13:56] WildcardSearch commented on #168
Yes. Thank you.

[2017-10-07 14:13] WildcardSearch commented on #168
Since this is very minor, and not really a bug, I'm gonna bump it to 3.2 so I can go ahead and get started rewriting the JavaScript and not have to worry about doing a release for this small change.

[2017-10-07 16:43] Eldenroot commented on #168
OK, it converts automatically all capital letters into the normal ones - Eldenroot -> eldenroot etc.

[2017-10-07 18:11] WildcardSearch commented on #168
Since the update?

[2017-10-07 18:13] Eldenroot commented on #168
I am not sure :(

[2017-10-07 19:41] WildcardSearch commented on #168
It shouldn't. I just pushed a fix here: d66ed9054b3171d4107474454f9c1063d2072842

[2017-10-07 20:01] Eldenroot commented on #168
@WildcardSearch - tested your fix, this issue is fixed, thank you!

[2017-10-07 20:01] #168 closed

[2017-10-11 01:38] WildcardSearch commented on #66
@Shade- @Eldenroot

...finally.

[2017-10-11 17:30] Eldenroot opened #171 "Add Ability To Rebuild Name Cache From ACP Plugin Info"
When you change a usergroup for a mentioned user (and the new usergroup has a different text color - for example "red"; original usergroup was blue) - mentioned username color is not changed (hard refresh; post edit, etc.).

When you run "MentionMe Name Caching" in ACP -> Task manager the issue is fixed.

Is possible to purge (clean) the cache after group promotion?

It is a minor bug, just a visu

[2017-10-11 17:36] Eldenroot commented on #66
@WildcardSearch - Great! Good job! I am going to test it :)

[2017-10-11 17:41] Eldenroot opened #172 "Usegroup style is not used in PM (sent messages)"
When you mention someone in your PM and then go to the folder with "sent messages" - the username does not use the usergroup style and is not styled.

Google Chrome, 3.1.4

[2017-10-11 21:19] WildcardSearch commented on #172
Thanks for the report. I'll take a look when I can.

[2017-10-11 21:21] WildcardSearch commented on #171
Let me look at the best way to approach it so that I can say whether it is worth the trouble or not. First impression, I think that it is a good idea.

[2017-10-21 19:35] WildcardSearch commented on #128
An effort was made to improve the regular expression used for parsing mentions, but as is always the case, compromises have to be made. In order for common cases like `Hi @username.` and `Hello @username, how are you?`, user names with spaces are no longer recognized by the unquoted version of the tag unless `mention_advanced_matching` is set to `YES`.

The other changes are that unquoted mentions

[2017-10-21 19:45] WildcardSearch commented on #172
@Eldenroot I cannot reproduce that issue on a stock copy of MyBB 1.8.12 with MentionMe 3.1.4 OR 3.2 beta--

![MyBB 1.8.12 - MentionMe 3.1.4 - group formatting in PMs](https://i.imgur.com/wzd7Ffv.png)

[2017-10-21 19:54] WildcardSearch commented on #171
After thinking about this, I've realized that it goes much deeper than this particular issue. For example, if a user modifies their ignore list, the changes will not take effect until the cache has been rebuilt. However, a user name change will still be handled correctly, but old mentions will, of course, no longer be recognized.

And then you have to consider the possibility of another user chang

[2017-10-21 22:57] WildcardSearch opened #173 "Popup: Default Avatar Doesn't Consider Theme Directory"
It is impossible to style the default avatar used in this plugin as we always load the default theme's copy.

[2017-10-21 23:03] WildcardSearch commented on #131
Added JavaScript to automatically reassign `src` properties for broken images to the default avatar.

[2017-10-21 23:05] WildcardSearch commented on #164
There more I think about this, the more I am leaning toward the thought that this belongs in MyAlerts... @euantorano?

[2017-10-22 07:27] Eldenroot commented on #172
@WildcardSearch - I will try to debug on my board today,,, give me few hours :)

[2017-10-22 07:27] Eldenroot commented on #131
Great! Thank you!

[2017-10-22 07:27] #131 closed

[2017-10-22 07:36] Eldenroot commented on #171
Yes, you are right. It is something difficult to solve in a easy way. Anyway it is only a minor "bug". MentionMe cache pruning task runs every 24 hours, after that period all issues are fixed. Maybe can you add a new setting - disable/enable name caching?

[2017-10-22 07:39] Eldenroot commented on #172
Hmm, I found the issue - it is because I used ctrl+c and ctrl+v - so mentioned usernames in copied text are now html links with default formatting. My bad, I am sorry.

[2017-10-22 07:39] #172 closed

[2017-10-22 13:54] WildcardSearch commented on #172
I'm just glad it isn't a big lol

[2017-10-22 14:18] WildcardSearch commented on #171
Possibly, but I'm thinking that when the issue can be solved by giving admin instructions how to run the task manually will solve the issue (or even maybe giving a quick link in plugin info to rebuild the cache).

Give me a chance to think about that.
- The task would have to be disabled based on the value of that setting.
- The task would have to run on each time the setting was set to `YES` to e

[2017-10-22 15:23] euantorano commented on #164
That's probably the best place to do it, yes. I'd need to think about the best way of doing it though.

[2017-10-22 15:58] WildcardSearch commented on #164
Yeah it is complex, even in theory.

@Eldenroot It makes more sense to wait for MyAlerts to support group alerts before going ahead with this. Thoughts?

[2017-10-22 16:04] Eldenroot commented on #171
This issue is solved after the task run, there should be added only a note about it. In my opinion . add a note about it, add a link "Rebuild cache" into plugin page for MentionMe.

P.S. For Thank You/Like plugin we use this:
![image](https://user-images.githubusercontent.com/778890/31863829-738f1558-b753-11e7-8f44-c03e35bae1db.png)

[2017-10-22 16:05] #164 closed

[2017-10-22 16:07] WildcardSearch commented on #171
I'll see if I can get this done today.

[2017-10-23 22:55] WildcardSearch opened #175 "Plugin Info: Incorrect Info Shown When Installed With MyAlerts Present But Uninstalled"
When MyAlerts is uninstalled the user should not receive any MyAlerts info at all. Currently a message concerning MyAlerts integration is shown with a link to integrate.

[2017-10-23 23:08] WildcardSearch commented on #133
@Eldenroot I know there were a few things I didn't get done, but I think it might just be easier for you to modify the CSS in `install_data.php` to your liking and then do a pull request? Then I can checkout your fork and see what it looks like and I'm sure I will approve of the changes.

[2017-10-23 23:35] WildcardSearch opened #176 "Remove Hardcoded HTML From Autocomplete JavaScript"

[2017-10-24 00:12] WildcardSearch opened #177 "Autocomplete: Instructions Not Shown When There Is No Data"

[2017-10-24 15:30] Eldenroot commented on #133
@WildcardSearch - there are only one (two) issues remaining:
1) no padding for text in the list without usernames
2) visual issue when the list in the dropdown menu has more than 5 items

The first issue can be fixed by my workaround mentioned in my last PR, but is is hacky and ugly way. wit hthe second one I am not sure, maybe can you add a scrollbar (styled).

[2017-10-24 15:31] Eldenroot commented on #158
@WildcardSearch - is that possible somehow?

[2017-10-24 21:38] WildcardSearch commented on #158
I actually got it working last night, but I am having this annoying problem like in #132 where the list "jumps" when you reach the bottom. I stayed up too late and got frustrated so I am going to try again tomorrow. If you want I can give you the current version on Discord so maybe you can see what I mean.

[2017-10-24 21:41] WildcardSearch commented on #133
1. I am going to wrap the text in a span with a class assigned and then we can just add some CSS in `install_data.php` and it will be solved **and** be customizable by admin-- at least that is the plan 😈

2. You mean this?

![bug2](https://user-images.githubusercontent.com/778890/30392407-0e8f6216-98bd-11e7-9cff-90b8672eb96f.png)

[2017-10-25 04:39] Eldenroot commented on #133
1) Great, sounds good!
2) Yes. it is because there are more than 5 users in the list - "peťul" is not the last name in the list

[2017-10-25 04:40] Eldenroot commented on #158
Fingers crossed!

[2017-10-25 10:45] WildcardSearch opened #178 "Official Support For MHEditor"
After a few conversations with the author, we seem to have ironed out any incompatibility between the two plugins. I need to do fairly extensive tests to ensure there are no issues before announcing official support.

[2017-10-29 13:11] Eldenroot opened #179 "Add a new lang string for mention username link"
As title says, add title into link with a new lang var. Something like: "Click to show user profile" on mouse hover

[2017-10-29 15:41] WildcardSearch commented on #158
@Eldenroot there are a few inconsistencies with the visual aspects of the new feature, but I am hoping to solve that in #133

[2017-10-29 16:37] WildcardSearch opened #180 "Conflicts Possible With Helper Libraries"
I need to version my helper classes because of the possibility of existing obsolete copies of them present in plugins that have not been upgraded on end-user forums.

[2017-10-29 16:54] WildcardSearch commented on #133
That should have the first one. There have been a few changes in some other commits. Can you test again and see if the second issue is solved?

[2017-10-29 16:56] WildcardSearch opened #181 "Implement Class Auto Loader"

[2017-10-29 18:12] WildcardSearch commented on #179
To be clear, you want:

[code]

[2017-10-29 18:34] Eldenroot commented on #179
Or something like this:

`<a title="{$lang->some_new_string}">Click to visit {$username}'s profile</a>`

[2017-10-29 18:35] Eldenroot commented on #133
@WildcardSearch - I will test it in 15 minutes...

[2017-10-29 18:58] Eldenroot commented on #133
@WildcardSearch - both are fixed, great! Thank you!

[2017-10-29 19:03] WildcardSearch commented on #133
Great!

[2017-10-29 19:04] #133 closed

[2017-10-29 19:08] WildcardSearch commented on #179
Okay, I am confused. To get specific, we currently use this:

[code]

I can add a title like this:

return <<<EOF
{$mybb->settings['mention_display_symbol']}<a id="mention_{$user['uid']}" href="{$url}" class="mentionme_mention" title="{$lang->some_new_string}"{$target}>{$username}</a>
EOF;
[code]

[2017-10-29 23:48] WildcardSearch commented on #178
I've tested everything I can think of and there are no apparent issues. We will be announcing official support for MHEditor in the next release.

[2017-10-30 16:53] Eldenroot commented on #179
Ok, what is wrong with

You mean "@"? If yes still better than nothing :)

[2017-10-30 21:28] WildcardSearch commented on #179
1. Mentions should just have the user name as their text, nothing else.
2. If I made that change everyone would throw rotten tomatoes at me :P

We already talked on Discord. I will add a `title` attribute when there is time.

[2017-10-31 01:09] WildcardSearch opened #182 "Autocomplete: JavaScript Error When The Name Cache Is Corrupted"

[2017-10-31 23:43] WildcardSearch opened #183 "Issues With Sending Alerts"
Issues have been reported for a while that I have not been able to reproduce. Now that I experienced some issues in testing, I should be able to isolate the issues.

[2017-11-01 00:58] WildcardSearch opened #184 "Forum Permissions Not Properly Checked When Sending Alerts"
A small typo is causing alerts to be sent to users in reference to forums they cannot view.

[2017-11-01 01:24] WildcardSearch opened #185 "Autocomplete: Set A Limit For Thread Participants"
If a thread has hundreds of participants they are all currently loaded into memory. I think the last five participants should be fine.

[2017-11-01 23:46] WildcardSearch opened #186 "Autocomplete: Thread Participants Incorrectly Ordered In Popup"
When retrieving thread participants, the intention was to order them by the date of their last post in the current thread, from the most recent post, in descending order.

Because of the `GROUP BY` clause, the order is not maintained.

[2017-11-02 01:42] #66 closed

[2017-11-02 01:42] #128 closed

[2017-11-02 01:42] #158 closed

[2017-11-02 01:42] #171 closed

[2017-11-02 01:42] #173 closed

[2017-11-02 01:42] #175 closed

[2017-11-02 01:42] #176 closed

[2017-11-02 01:42] #177 closed

[2017-11-02 01:42] #179 closed

[2017-11-02 01:42] #180 closed

[2017-11-02 01:42] #181 closed

[2017-11-02 01:42] #184 closed

[2017-11-02 01:42] #182 closed

[2017-11-02 01:42] #183 closed

[2017-11-02 01:42] #185 closed

[2017-11-02 01:42] #186 closed

[2017-11-02 01:42] #178 closed

[2017-11-02 17:45] Eldenroot opened #188 "Popup is closed when you add 3 characters (symbols) not matched to any of username"
How to reproduce:
1) in Quick reply type "@"
2) type 789 for example (or whatever but something what is not in any of username)
3) popup is closed when you type the third symbol

+ how does this work? https://github.com/WildcardSearch/MentionMe/commit/b0e243650e730d463990af96d59a0d83dbf33803

[2017-11-02 22:27] WildcardSearch commented on #188
Addressing the main issue: That is intended behavior so that when typing an `@` that isn't intended to be used to mention users, the popup will dismiss itself under certain conditions:

1. The user has typed the minimum amount of characters to search (which coincides with the minimum user name length in ACP) and no names were found.
2. The user has typed more characters than the maximum user name

[2017-11-05 16:11] Eldenroot commented on #188
@WildcardSearch - I am sorry, I wasnt at home during weekend. If it is expected, feel free to close. I dont know how to improve that... :(

[2017-11-05 19:12] WildcardSearch commented on #188
I'm open to suggestions. It just isn't apparent to me what is wrong with the current method.

[2017-11-05 19:12] #188 closed

[2017-11-11 02:41] WildcardSearch opened #190 "Name Cache Not Updating"

[2017-11-11 02:42] WildcardSearch opened #191 "ACP: Language Needs To Be Loaded Before Running Task"

[2017-11-12 18:02] WildcardSearch opened #192 "MyAlerts Integration: Improve Version Comparison"
String comparison is currently used. This would be better with `version_compare`

[2017-11-12 18:32] WildcardSearch opened #193 "MyAlert Integration Status Not Cached"

[2017-11-18 16:42] WildcardSearch opened #194 "Update Cache Library"
A new version of `WildcardPluginCache` is available.

[2017-11-18 17:32] #190 closed

[2017-11-18 17:32] #191 closed

[2017-11-18 17:32] #192 closed

[2017-11-18 17:32] #193 closed

[2017-11-18 17:32] #194 closed

[2018-01-04 21:26] WildcardSearch opened #196 "Editing Posts That Contain Mentions Cause Duplicate Alerts"
https://community.mybb.com/thread-206710-post-1294093.html#pid1294093

[2018-01-05 14:47] Eldenroot commented on #196
High priority, good catch :(

[2018-01-06 16:37] WildcardSearch opened #197 "New Merged Posts Can Create Duplicate Alerts"
To reproduce:
- create two user accounts, `user1` and `user2`, both registered users with post merge enable
- login as `user1`
- mention `user2` in a post, an alert will be created
- reply to the same thread with another post that mentions the same user, another alert will be created

[2018-01-06 19:21] WildcardSearch opened #198 "Formatted User Names Cause Currupted Name Cache, Disables Autocomplete"
In `alerts.php`, if mention formatting is on in ACP, the formatting information (if any) is transferred as an array key in name cache. For example:

[code]

...which becomes...

[code]

Just need to strip tags or acquire the user name with a query/`get_user()`.
[code]

[2018-01-06 20:23] #196 closed

[2018-01-06 20:23] #197 closed

[2018-01-06 20:23] #198 closed

[2018-01-10 13:58] Eldenroot opened #200 "Rin editor - popup is not displayed when you switch back from source mode"
Rin editor (martec) - private message - send message

Try to mention anybody -> it will works fine until you switch to source mode and switch back to "normal" mode -> no popup us displayed when you type "@", no error console.

[2018-01-10 17:16] WildcardSearch commented on #200
Thanks for the report. I'll take a look when there is time.

[2018-01-17 18:32] WildcardSearch opened #201 "Unquoted Function Name In Initialization"
Reported here: https://community.mybb.com/thread-215435-post-1295258.html#pid1295258

[2018-01-17 19:03] Eldenroot commented on #201
Good catch, I use php 7.1 so it was fine on my side. Other parts of code are compatible with 7.2?

[2018-01-17 19:43] WildcardSearch commented on #201
I don't know. I currently test with 7.1.5

[2018-01-20 10:37] Eldenroot opened #202 "Cache is corrupted - some usernames are saved two times"
There is a problem with cache - when I delete the cache all is fine... but after few days it happens again - some usernames are duplicated so these usernames are doubled in mentionme popup...

it happens only with usernames with special characters (for example "š"). Please check the code provided below - user "PesBobeš" - this user is saved two times - first is "PesBobes" and the second one is "Pe

[2018-01-20 14:24] WildcardSearch commented on #202
I removed the pasted text and placed it in PASTEBIN.

As to the report, thank you and I will look into it when there is time.

[2018-01-20 18:30] WildcardSearch commented on #200
That should have it fixed @Eldenroot

[2018-01-20 18:51] WildcardSearch opened #203 "Remove Advanced Matching"
I have felt for awhile that with autocomplete and the fact that inserted mentions use delimiters, advanced matching is unnecessary. It only serves to fool inexperienced admins into turning it on thinking that it will help, when it will on just waste resources.

[2018-01-20 18:53] WildcardSearch opened #204 "Add External Upgrade Module"

[2018-01-20 19:42] WildcardSearch opened #205 "Increasing Board Min Name Length Causes Failed Detection For Existing Names < New Limit"
Reported here: https://community.mybb.com/thread-206710-post-1294968.html#pid1294968

[2018-01-21 17:22] WildcardSearch commented on #202
That should have it fixed, @Eldenroot.

[2018-01-21 18:00] Eldenroot commented on #202
@WildcardSearch - great, I will test in 2 hours... results will be there after few days of testing

[2018-01-21 18:04] WildcardSearch commented on #202
Okay great. You will need to test this on a fresh install, though. If the cache is already corrupted, it won't be fixed until the task runs otherwise.

As soon as you give this a thumbs up, I will release 3.2.3 👍

[2018-01-21 18:36] Eldenroot commented on #202
Thank you! So I will run task manually.

[2018-01-21 19:31] Eldenroot commented on #202
For now it works fine without any issue, thank you!

[2018-01-21 19:32] WildcardSearch commented on #202
Great!

[2018-01-21 19:44] #200 closed

[2018-01-21 19:44] #201 closed

[2018-01-21 19:44] #202 closed

[2018-01-21 19:44] #203 closed

[2018-01-21 19:44] #204 closed

[2018-01-21 19:44] #205 closed

[2018-01-22 08:33] TheDocter opened #207 "Cannot read property scrollwidth or replace of undefined."
I recieve the following error when trying to use version 3.2.3 release. Both errors are inside autocomplete.min.js. Autocomplete does not work, As long as I type the name correctly the MentionME plugin does work.

[code]

[code]

[2018-01-22 11:32] WildcardSearch commented on #207
Hi @TheDocter

Thanks for the report. Can you do me a favor and go to MentionMe's plugin settings, disable `Minify JavaScript` option and post those error messages again?

[2018-01-22 20:08] TheDocter commented on #207
When the Minify JavaScript option is turned off, there are no errors and the pop up window and auto complete work just fine.

*side note -> Tennant was one of my favorite Doctors. Love the avatar man.

[2018-01-23 01:03] WildcardSearch commented on #207
Thanks for the detailed report. I haven't experienced that error, but I will try so that I can fix the issue.

For now, as bad as I hate to ask you to, I'd suggest just leaving Minify JavaScript off for now.

*side note replay -> I like you more just because you said that lol

[2018-01-28 06:28] OlivePip opened #208 "Completely Functional... But No Alerts."
Hi, I've had this issue for months now and nothing seems to fix it. I've reinstalled the plugin multiple times, I've even done a clean install of Mybb with only the pluginlibrary and MyAlerts plugins installed but the issue persists. Besides changing a few board settings, the only customized aspect of the freshly installed board is the theme but the issue carries over to the default Mybb skin anyw

[2018-01-31 21:51] WildcardSearch commented on #208
I'm sorry I am so slow to reply, but I am working a lot of hours right now.

When things return to normal (idk when that will be), I will be glad to help you.

Sorry you are having problems.

[2018-02-01 22:48] OlivePip commented on #208
Oh great, thanks! I thought I'd gone and stuck this in the wrong place so I sheepishly closed it and reposted the issue on Mybb. [Here's the link to the topic.](https://community.mybb.com/thread-215691.html)

[2018-02-01 23:20] WildcardSearch commented on #208
Because you mentioned that DVZ Mentions also has the same problem, it makes me think that the problem has to do with your forum, another plugin, or something of that nature.

Monday I will go back to a more reasonable schedule at work. When that happens, I will try to give you some help, which may require you to provide me with access to your board.

Again, I am sorry that you are having issues.

[2018-02-03 21:28] OlivePip commented on #208
I also thought it was likely to be a problem with the board or another plugin due to both mention plugins not functioning, but freshly installing everything and only installing the relevant plugins didn't help which is what really baffled me.

Fortunately the site is in beta mode at the moment so it's not causing too much of an inconvenience yet!

[2018-02-03 23:08] WildcardSearch commented on #208
Until I can get a chance to look at it, you could try looking through your error logs to see if there are any issues. Are you familiar with how to do that?

[2018-02-04 01:40] OlivePip commented on #208
If it's the error log at /error.log then there isn't one at the moment - I set the board to make error logs just now since that wasn't selected prior. There's currently nothing although I have tried to use the mentions since to try and prompt an error log to be made. Is that the error log you meant?

[2018-02-04 02:02] WildcardSearch commented on #208
Yes. That at least helps to eliminate errors in missing files and such.

I'm currently battling the flu (as if I needed more problems right now). I'll try to contact you tm to see if we can figure it out, but forgive me if I am unable to do so.

[2018-02-06 22:04] OlivePip commented on #208
I hope you're feeling better!

So I think the problem may be with MyAlerts itself as I've just discovered that PMs are not consistently producing alerts either (although PMs on a attached accounts alert seems to be) but it could be a coincidence.

[2018-02-06 23:37] WildcardSearch commented on #208
Thanks for the update. Unfortunately, I am still down with the flu. I thought it would be over by now...

[2018-02-13 20:01] Eldenroot opened #209 "Quick edit - not working without page refresh"
Steps to reproduce:
1) Write something in Quick reply and post
2) Click to "Quick edit" and try to mention someone
3) Popup is not displayed after "@"

How to fix that? Just refresh the page after you made a quick reply, after that try to mention someone in quick edit -> popup is working.

[2018-02-13 21:34] WildcardSearch commented on #209
Thanks for the report. Are you using Rin Editor or textarea Quick Edit?

[2018-02-14 19:52] Eldenroot commented on #209
I use Rin editor from @martec

[2018-02-16 04:10] martec commented on #209
Maybe you can use something like https://github.com/martec/automention/blob/master/jscripts/automention/automention.js#L30
Line 30 until line 33.
function automentionck( local ) {
}
function above is hook for rin editor,

[2018-02-16 11:40] WildcardSearch commented on #209
Thanks, @martec. I have a function in place to re-attach MentionMe's autocomplete to CK Editor once the new post has been submitted, perhaps it was broken during the last update.

I will look at this as soon as I have time.

[2018-02-23 22:05] SvePu opened #210 "Settings for "Open Mentions In a New Window/Tab?" doesn't work"
As wrote above the settings for the new tab option doesn't work.

[2018-02-23 22:32] OlivePip commented on #208
I hope you're feeling better! I still haven't had any luck figuring out the problem and if it is MyAlerts at the root of the problem which I suspect it is, I'm not sure what to do about it as the support/updates for it seem to be on hold. The error log has finally produced something, but I don't think it's relevant or helpful sadly:
`<error>
	<dateline>1517937069</dateline>
	<script>inc/datahandle

[2018-02-25 19:03] Eldenroot commented on #210
@SvePu - it is working for me without any issues, what version and browser do you use?

[2018-03-16 14:29] MaFeSa opened #212 "MyBB 1.8.15 compatibility"
Hi, I just updated and now I have this problem with the plugin.
![mybb](https://user-images.githubusercontent.com/1554203/37526090-d0dda0a6-292e-11e8-991c-eec4121863ab.PNG)

Thanks

[2018-03-19 17:23] BradRadical commented on #212
Uninstall the plugin and reinstall.

[2018-03-19 17:36] MaFeSa commented on #212
@BradRadical I already tried but it does not work

[2018-03-19 17:55] BradRadical commented on #212
@MaFeSa I just fixed the issue by doing it. No idea why it's not working for you.

[2018-03-19 20:14] MaFeSa commented on #212
@BradRadical I upload again plugin and after reinstalling it it seems solved.
Thanks!

[2018-03-19 20:14] #212 closed

[2018-04-23 16:35] Eldenroot opened #213 "Update Name Cache When Plugin Settings Change"
Profile images are not loaded in popup menu - this is a little annoying bug - if you use avatar picture in .png format it is nor working because mentionme uses automatically .jpg images in the URL.

@WildcardSearch

[2018-04-25 20:39] WildcardSearch commented on #213
Thanks for the report. As I'm sure you've noticed, I am having trouble finding free time right now. When I return I will try to catch everything up.

[2018-05-20 23:34] WildcardSearch commented on #213
@Eldenroot can you give me steps to reproduce. I had some time this evening to try it out, but PNG images are working correctly on my end.

[2018-05-21 13:32] Eldenroot commented on #213
Hi @WildcardSearch - ok, let me explain.

I used avatar with .jpg extension but I convert it to .png one. I tried to rebuild the cache, but mentionme still loads old url of avatar
![image](https://user-images.githubusercontent.com/778890/40310122-150b6842-5d0c-11e8-954d-ea8c3b124216.png)

As you can see in my browser console, it should be avatar_1.png not .jpg. When I change my avatar back to jpg

[2018-05-21 16:27] WildcardSearch commented on #213
You just need to rebuild the name cache (from the ACP Plugins page) before the correct avatar will show. The avatar URL is cached with the rest of the user info.

Sorry, I didn't realize this was the problem or I would have gave you this advice when you first created the issue.

[2018-05-21 17:35] Eldenroot commented on #213
Ok, but this task should be run automatically every 24 hours... but this issue with avatar has been there for over 4 weeks, so apparently it is not working somehow.

[2018-05-21 21:06] WildcardSearch commented on #213
Did you try to run the name cache rebuild link?

I'll be home in about five hours and will try again to reproduce the issue. Sorry you are having problems.

[2018-05-26 19:58] Eldenroot commented on #213
Yes I did, after I clicked to link in ACP-Plugins the issue was fixed...

[2018-05-26 23:48] WildcardSearch commented on #213
That might mean that there is an issue with the task running. Can you check the task log to ensure that the task is in fact running once per day?

[2018-05-27 14:48] WildcardSearch commented on #210
Hi @SvePu sorry so slow to reply.

To check if it is working, look at the page source for the mention and ensure that `target"_blank"` is being added to the link. If the target has been added correctly and yet the behavior is not what you expect, then the issue is how your browser treats the target tag in relation to link routing.

[2018-05-27 15:06] WildcardSearch commented on #209
I'm having trouble reproducing the error. Looking at this GIF, am I missing anything in my steps to attempt to reproduce the issue?

![Rin Editor - Quick Edit - Autocomplete](https://i.imgur.com/fdIbitD.gif)

[2018-05-27 15:13] Eldenroot commented on #209
Really strange... try to mention somebody and then do a quick edit...

[2018-05-27 19:43] Eldenroot commented on #209
OK, thats really strange. I use Google Chrome and this was mabye reported in rineditor repo, or is it a different bug?

[2018-05-27 19:44] Eldenroot commented on #213
OK, I will check this tomorrow. I will let you know.

[2018-05-28 02:56] WildcardSearch commented on #209
We will just leave this open for now. If time has taught us anything, it is that bugs will eventually surface even if they are hard to reproduce.

If we can reproduce it, I will try my best to fix it. I was hoping I could work on it this weekend because I have today and tomorrow off from work— after this it is back to 7, 12 hour days a week...

[2018-05-29 15:56] Eldenroot commented on #213
@WildcardSearch - task seems to be fine

![image](https://user-images.githubusercontent.com/778890/40670457-a126aefa-6369-11e8-8bd8-7e3955785431.png)

[2018-05-30 10:20] WildcardSearch commented on #213
Okay check that off the list. Can you go to ACP -> Tools & Maintenance -> Cache Manager and look for wildcard_plugins cache entry -> mention_me section

See if the avatar filename is stored correctly in the cache when you have recently cahnged avatar extensions.

Sorry to as you to do so much but I just want to try to find an issue if one exists.

[2018-05-31 14:50] Eldenroot commented on #213
When I change my avatar from .png to .jpg - > there is no change in the cache - still shows .png avatar path. Maybe can you add support for run rebuild cache automatically cache when avatar is changed?

![image](https://user-images.githubusercontent.com/778890/40789344-7ed339ce-64f2-11e8-87b9-914f76331b03.png)

[2018-05-31 16:32] WildcardSearch commented on #213
Yes. That sounds like a good idea.

I'll just convert this issue over to an enhancement request for that feature.

[2018-06-11 21:27] WildcardSearch commented on #210
Confirmed as an issue with checking the wrong setting. Thanks for the help, @SvePu

[2018-06-11 21:30] WildcardSearch opened #215 "Autocomplete: Recent Thread Participants Query Slow For Larger Forums"
Brought to my attention by @chack1172

[2018-06-12 16:10] Eldenroot commented on #213
Or just maybe make task run time period shorter... much easier :)

[2018-06-12 16:11] Eldenroot commented on #210
@WildcardSearch - I am not sure about this, because all mentioned usernames are automatically opened in a new tab... I use this since your release when you added this feature. However maybe it is a browser setting here and this is really bugged. Anyway thank you @SvePu!

[2018-06-12 16:44] WildcardSearch commented on #210
Yeah, @Eldenroot, it is a confirmed bug. I referenced `mention_format_names` setting instead of `mention_open_link_in_new_window` in the code.

[2018-06-12 16:47] WildcardSearch commented on #213
I think the most comprehensive solution is to isolate events that may change the cache information, hook in, and rebuild the cache at these points— much like the `rebuild_settings` function.

Your thoughts?

[2018-06-12 17:05] Eldenroot commented on #213
Great idea! Is that possible with MyBB existing hook system or some hooks will be missing?

[2018-06-12 17:08] Eldenroot commented on #210
Yes, I understand that but I am just confused that it is fine for me on my side :) thats just my 2 cents ;)

[2018-06-12 17:44] Eldenroot commented on #215
@WildcardSearch @chack1172 what about other areas, any way for further optimisation? :)

[2018-06-12 20:19] chack1172 commented on #215
@Eldenroot tomorrow I'll check if there is something to optimize

[2018-06-12 20:42] chack1172 commented on #215
I checked all the queries now and I found nothing to optimize @Eldenroot

[2018-06-12 21:19] WildcardSearch commented on #215
Guys, I'm still short on time, but when I can test this PR, it should be trivial to get 3.2.4 released.

Thanks for all the help!

[2018-06-12 21:41] WildcardSearch commented on #210
If you remember, there was some concern about the way it worked before. Perhaps your browser (or the browser settings) is causing different behavior? I don't know, for sure, but I am certainly checking the value of the wrong setting in the code :tongue:

[2018-06-12 21:44] WildcardSearch commented on #213
It would be difficult for me to say without having a closer look, but when I checked yesterday (quickly) it seemed doable by hooking into: the ACP pages for user/group editing, the UCP pages for account changes, and the banning pages.

I'll probably put this off until 3.3, given the large scope of these changes.

[2018-06-16 08:29] Eldenroot opened #217 "DVZ shoutbox support?"
Hi, is possible to add support for DVZ Shoutbox? Thank you

EDIT: DVZ mentions works together with DVZ shoutbox, but I use MentionMe (best plugin for tagging users). :)

[2018-06-16 21:45] WildcardSearch commented on #215
I've pulled @chack1172's fix, but talking to a BBO on Discord leads me to believe that we still need to do better. I'm thinking that `ORDER BY MAX(p.pid) DESC` is the trouble. If the `posts` table is very large then having to order all posts will be a heavy load on the host.

Maybe I can just use some PHP to sort the results from a less expensive query.

[2018-06-16 23:09] #210 closed

[2018-06-20 23:30] #215 closed

[2018-06-21 18:12] Eldenroot opened #219 "Width of popup box"
@WildcardSearch - as I mentioned on Discord - min width is not working for the popup box

![image](https://user-images.githubusercontent.com/778890/41737319-3cdc95bc-758f-11e8-9c2c-ff2d7453f2be.png)

I use min-width: 120px with !important in mentionme.css but as you can see it is overwritten somehow
![image](https://user-images.githubusercontent.com/778890/41737354-5a589c8a-758f-11e8-8f52-c75b1e61

[2018-06-21 21:54] WildcardSearch commented on #219
Thanks for the detailed report.

As always, I'm really busy, so I will try to take a look when I get a breather.

[2018-06-25 21:57] WildcardSearch opened #220 "Error When Guests Post With MentionMe Active"
This is caused by a failure to ensure that `MybbStuff_MyAlerts_AlertTypeManager` was instanced prior to my plugin running. In some cases (such as this one) no instance exists.

[2018-07-28 07:26] burnacid opened #221 "Error with showing avatars"
When I switch on avatars I'm getting an error on autocomplete.min.js line 30

`Uncaught TypeError: Cannot read property 'length' of undefined
    at MentionMeAutoCompletePopup.buildItems (autocomplete.min.js:30)
    at MentionMeAutoCompletePopup.update (autocomplete.min.js:23)
    at MentionMeAutoCompletePopup.show (autocomplete.min.js:16)
    at AutoCompleteTextareaInterface.showPopup (autocomple

[2018-07-28 07:44] burnacid commented on #221
Line 301 of the autocomplete.js

avatarPath = data[user]["avatar"];

avatar is undefined for some reason

[2018-07-28 07:57] burnacid commented on #221
I've fixed it in the following way

[code]

[2018-07-28 11:20] WildcardSearch commented on #219
Still working a seven days a week...will try to look at this soon. Sorry for the wait.

[2018-07-29 11:18] WildcardSearch commented on #221
PR merged!

[2018-08-04 20:11] #220 closed

[2018-08-04 20:11] #221 closed

[2018-08-04 22:07] WildcardSearch opened #225 "Alerts: Permissions Don't Consider Users That Can Only View Their Own Threads"
Reported on Discord by @dvz

[2018-08-05 14:13] WildcardSearch opened #226 "Installer: Upgrade To 1.2.3"
Two bugs were fixed that will affect MentionMe:

- content folder protection
- style sheet caching issue

[2018-08-05 19:47] WildcardSearch commented on #219
Okay, @Eldenroot if you want to give this a try as well.

[2018-08-06 23:44] WildcardSearch commented on #213
@Eldenroot I took a look at it this evening and there are ***dozens*** of places where the user's information can change. There are hooks in some places and not in others, but the main thing I gathered from it was that it would make MentionMe a **lot** heavier and I don't think we want that.

I am going to go ahead with 3.2.6 and we can keep looking at what can be done about this issue.

[2018-08-06 23:55] #225 closed

[2018-08-06 23:55] #226 closed

[2018-08-06 23:55] #217 closed

[2018-08-06 23:55] #219 closed

[2018-08-07 16:23] WildcardSearch opened #228 "Alerts: Typo Causes Invalid Database Object Error"
Reported [here](https://community.mybb.com/thread-206710-post-1311139.html#pid1311139)

[2018-08-07 16:24] WildcardSearch opened #229 "Alerts: Typo Causes Invalid Table Name Error"
Reported [here](https://community.mybb.com/thread-206710-post-1311147.html#pid1311147)

[2018-08-08 01:29] #228 closed

[2018-08-08 01:29] #229 closed

[2018-08-14 03:32] WildcardSearch opened #231 "<invalid>"
Table definitions are in a format compatible with MySQL and MySQLi, but PostgreSQL needs to be added.

[2018-09-01 17:42] WildcardSearch opened #232 "Upgrade Installer"

[2018-09-28 10:14] Eldenroot opened #233 "Popup window on mouse hover over mentioned username"
I am opening this ticket again, we should really discuss this feature. It would be really nice addition, and I think not difficult to add. I mean something like Flarum or Xenforo has, only basic information about user (rank, post, thread, last online, contact).

Take a look, examples from
A) Flarum
![image](https://user-images.githubusercontent.com/778890/46202678-c4e7f480-c317-11e8-8591-c6b4fbc3e

[2018-10-13 16:08] Eldenroot commented on #213
OK, I would suggest to refresh the cache when plugin settings is saved... :) As we discussed on Discord

[2018-10-31 20:08] WildcardSearch commented on #208
No, I can't reproduce it at all.

I'm running the latest version of both MentionMe and MyAlerts on Rant Central and I get alerts from everything...

[2018-10-31 20:22] Eldenroot commented on #208
OK, thank you for your tests. OK, again something wrong on my board :( I will try to debug this ;)

[2018-11-20 00:15] WildcardSearch opened #234 "Autocomplete: SCEditor Interface Dependent On Tables"
As seen here, depending on a `td` element prevents admin from using `div`s to create responsive themes.

https://github.com/WildcardSearch/MentionMe/blob/16b2deb284a0516ba2a97456a29fa4d20391dfd9/Upload/jscripts/MentionMe/autocomplete.js#L1301

[2018-11-23 16:32] WildcardSearch opened #235 "Autocomplete: Not Working Well With Other iFrames On Page"
Reported here: https://community.mybb.com/thread-206710-post-1315574.html#pid1315574

[2018-11-23 16:45] #232 closed

[2018-11-23 16:45] #234 closed

[2018-11-23 16:45] #235 closed

[2018-11-23 16:47] #231 closed

[2018-12-09 19:54] Eldenroot opened #237 "Fatal error"
![image](https://user-images.githubusercontent.com/778890/49702056-98443900-fbf4-11e8-889c-36d5e459a2ba.png)

Disable MyAlerts and check your board :(

[2018-12-10 11:16] WildcardSearch commented on #237
Confirmed. Thanks for the report.

[2019-01-23 19:59] helloshago commented on #208
Hi Mark!

I'm a forum administrator over at www.charmingrp.com. For the past year, we've been struggling to get mentionme to work with myalerts. My co-admin is OlivePip, the starter of the thread.

We're still having the exact same issue and are really looking to get it fixed! Do you have time in your schedule to work on this for us? We are 100% willing to offer compensation for your time and appr

[2019-01-23 22:53] WildcardSearch commented on #208
@helloshago I tried to reply to your email but there was some issue. If you join the MyBB Discord, I will be listed near the top of any channel. Send me a DM and we can try to troubleshoot this issue together.

I'm sorry that you are having problems.

[2019-01-24 02:12] helloshago commented on #208
Thank you for the quick response! My coadmin Olive is going to be messaging you on Discord as she’s been the one troubleshooting and is more tech savvy. What are you expecting as far as compensation so I can have it prepared?

[2019-01-24 11:12] WildcardSearch commented on #208
ONE BILLION DOLLARS!!!

(I never charge 👅 )

[2019-01-31 12:33] OlivePip commented on #208
Thanks again for all your help! Just in case anyone else has this exact issue, the problem stemmed from the MyAlerts plugin and there being no "Alert Types" option on the ACP Configuration menu. This was solved by editing the admin permissions to allow them to change alert types. Alert Types then appeared on the config menu and after reinstalling MentionMe, showed mentions as checked and problem s

[2019-01-31 12:33] #208 closed

[2019-01-31 14:09] WildcardSearch commented on #208
Thanks for letting us know how it turned out!

[2019-02-01 16:13] Eldenroot opened #238 "CSS styling issue in text editor"
There is a small issue, I am not sure if it is intended.

When you mention someone in your post and select the mentioned username -> click on "B" icon in editor to make text bolded, the mentioned username does not follow display setting set in ACP usegroups.

This can be solved by adding CSS font-weight: normal !important; (however this is not the best solution for admins who use bold style for us

[2019-02-01 16:14] Eldenroot commented on #209
I updated to the latest Rin editor and it is fine :) so I am closing this one :)

[2019-02-01 16:14] #209 closed

[2019-02-01 16:15] Eldenroot commented on #207
Can you confirm that when JS is minified, the minimum width of mentionme box is not set properly sometimes?

[2019-02-01 18:32] WildcardSearch commented on #207
I'll try to have a look this weekend. Should be getting my first off day of 2019 Saturday (I hope)

[2019-02-15 12:36] Eldenroot commented on #207
Did you have a chance to test it out? I think it could be an issue with minified js, what do you use for minifying?

[2019-02-24 22:06] WildcardSearch opened #239 "Autocomplete: Errors When CKEditor Set To Source Mode By Default"
Reported here: https://community.mybb.com/thread-206710-post-1323805.html#pid1323805

[2019-02-24 22:29] WildcardSearch opened #240 "Plugin Info: Incorrect Information Given When MyAlerts Deactivated"
The user is informed that MentionMe needs to integrate with MyAlerts, even if they are integrated when MyAlerts is deactivated (rather than uninstalled.)

[2019-02-24 23:04] WildcardSearch commented on #213
Done and working on my end, @Eldenroot

[2019-02-24 23:05] WildcardSearch commented on #237
Fixed, but that caused #240— both should be fixed now. @Eldenroot

[2019-02-27 20:09] Eldenroot commented on #237
great, thank you buddy!

[2019-02-27 20:10] Eldenroot commented on #238
It is quite tricky, not easy to fix :( I am not sure how DVZ mentions handles this, can you test?

[2019-02-27 20:16] Eldenroot opened #241 "Add support for user ID instead of usernames"
We had discussion in past about this. I would like to reopen and discuss again. I feel this is something quite useful and a good improvement.

Sometimes you mention a user and in future the user could change the username... so the link in post would not be working.

The support was added in DVZ mentions plugin, you can choose between two modes - one "classic" and the second one with userID.

I rea

[2019-02-27 20:21] WildcardSearch commented on #238
**DVZ Mentions 1.05 w/applied formatting:**

![DVZ Mentions 1.05 w/applied formatting](https://i.imgur.com/9ZvvDCn.png)

The more I think about it, I don't feel that this is an issue. First of all, it is avoidable: if the user doesn't wish for the mention to look differently, they are free to wrap it in its own size/format tags; and secondly, maybe it is desirable in some instances to have a large

[2019-02-27 20:39] #213 closed

[2019-02-27 20:39] #237 closed

[2019-02-27 20:39] #239 closed

[2019-02-27 20:39] #240 closed

[2019-05-08 21:42] WildcardSearch opened #243 "User Names That Are Similar To Email Addresses Not Matched"
Reported here: https://community.mybb.com/thread-206710-post-1328529.html#pid1328529

[2019-05-11 14:20] #243 closed

[2019-06-22 13:42] WildcardSearch opened #245 "Autocomplete: SCEDitor Popup Broken Since MyBB 1.8.21"
Reported here: https://community.mybb.com/thread-206710-post-1330658.html#pid1330658

[2019-06-22 14:47] #245 closed

[2019-07-10 21:26] WildcardSearch opened #247 "Autocomplete: Allow Admin To Customize Popup Location Per Theme"
Discussion started here: https://community.mybb.com/thread-206710-post-1331811.html#pid1331811

[2019-07-11 20:58] WildcardSearch opened #248 "Uninstall: Fatal Error When MyAlerts Deactivated"
Reported here: https://community.mybb.com/thread-206710-post-1332691.html#pid1332691

[2019-07-15 12:12] Eldenroot opened #249 "Popup scrollbar issue"
Hi @WildcardSearch !

Since 3.2.11 (I think) there is a graphic glitch with a scrollbar, it is displayed even it is not needed.

![image](https://user-images.githubusercontent.com/778890/61215248-969e9e80-a70a-11e9-95ce-49bad8425927.png)

[2019-07-31 17:08] Eldenroot opened #250 "I cannot mention anybody after "@" symbol in post"
![image](https://user-images.githubusercontent.com/778890/62232469-94089e00-b3c6-11e9-96cd-74aeae94b791.png)

When I wanna mention myself in a post, popup is displayed, I choose my nickname and send a post... unfortunately it is not parsed...

[2019-07-31 17:11] Eldenroot commented on #250
OK, edit... when you use something like the in the text
` funkce přes "@" - např.: @"username" , kd`

it is not parsed and the username is not clickable and mentionme is not apply... regex issue?

[2019-07-31 17:12] Eldenroot commented on #250
Yes anything after the first "@" is not parsed... it was working fine in older versions...

[2019-08-27 04:50] vanessasickles opened #251 ""Popup Item" appearing on Quick Reply and Full Reply"
I updated my forum to myBB 1.8.21, and then updated the MentionMe plugin. Since then, I've experienced a strange issue on the quick and full replies/at the bottom of the page. I've tested this on the default theme as well to ensure it isn't just a theme issue:

![image](https://user-images.githubusercontent.com/29470614/63741735-dacda480-c85b-11e9-9b78-2cc5c6774953.png)
![image](https://user-image

[2019-08-27 21:32] WildcardSearch commented on #251
Hi,

That is likely the result of a long-standing bug that I still can't quite track down.

Usually, uninstalling and installing again will fix this.

[2019-08-27 23:08] WildcardSearch commented on #250
Confirmed.

I'm working on a fix.

[2019-08-27 23:10] WildcardSearch commented on #249
I am purposely hiding the scroll bar (by shrinking the width of the popup and using `overflow-x: hidden`), while leaving it always "on"

If it is showing, then there could be some issue with the JS width settings.

Can you link me to the site? (Privately, if necessary)

[2019-08-27 23:47] WildcardSearch opened #252 "Autocomplete: Add SCEditor and Textarea Setup Options"
https://community.mybb.com/thread-206710-post-1332651.html#pid1332651

[2019-08-27 23:49] WildcardSearch commented on #250
Solution pushed to `maintenance` branch, @Eldenroot

[2019-08-28 14:53] vanessasickles commented on #251
Thanks for the prompt response. I will give an uninstall + reinstall a try tonight and report back.

[2019-09-07 01:03] vanessasickles commented on #251
A little late on my part, but just gave it a shot and it did fix the issue. Best of luck in tracking that down in the future, that's a bizarre one!

[2019-09-07 01:24] WildcardSearch commented on #251
I'm glad you got it working 👍

[2019-09-07 01:24] #251 closed, assigned to WildcardSearch

[2019-09-09 16:03] Eldenroot commented on #250
Maintenance brach works fine, thank you!

[2019-09-09 19:03] WildcardSearch commented on #250
Thank you, so much, @Eldenroot. I will get 3.2.12 released some time this week 👍

[2019-09-12 22:09] #248 closed, assigned to WildcardSearch

[2019-09-12 22:09] #250 closed, assigned to WildcardSearch

[2019-09-12 22:09] #252 closed, assigned to WildcardSearch

[2019-09-12 22:10] #247 closed, assigned to WildcardSearch

[2019-09-14 13:37] #238 closed

[2019-09-14 13:37] #241 closed

[2019-09-14 13:40] WildcardSearch commented on #207
@Eldenroot I somehow missed this. I recently went back to YUI to compress JS because of issues with Google Closure Compiler.

[2020-08-16 14:34] thom7594 opened #254 "Problem in quick reply box if autocomplete enabled MyBB 1.8.24)"
I upgraded mybb from 1.8.22 to 1.8.24

If I enable "Auto-Complete Mentions", the quick reply box displays some strange things (a generic avatar and MMMMMMMMMMMMM)
<img width="1525" alt="Capture d’écran 2020-08-16 à 16 33 18" src="https://user-images.githubusercontent.com/69759181/90336773-4f09d680-dfde-11ea-9dfa-0ba8411343b4.png">

[2022-05-01 02:55] Nilint1 commented on #254
For future generations, see #251 .

Just uninstall/reinstall.

[2022-11-27 07:54] bls1999 opened #256 "Links render incorrectly on pages outside the board directory."
The links to user profiles in parsed mentions are incorrect when the render occurs on a page in a different directory than the MyBB instance (e.g., custom pages not within the MyBB folder on the server).

For instance, a board at https://google.com/mybb has a custom page at https://google.com/mycustompage.
Expected result: The mention link renders as `https://google.com/mybb/member.php?uid=1`.
Act